{% if product.title contains "Siidow" %}
  <p style="margin:0; line-height: 20px; padding-top: 8px;"><strong>Made by:</strong> Siidow Ahmed</p>
  <p style="margin:0; line-height: 20px;"><strong>Age:</strong> 16 Years Old</p>
  <p style="margin:0; line-height: 20px; margin-bottom: 20px;"><strong>Village:</strong> Saakow</p>
{% endif %}
