{%if collection.handle contains "gogh" %}
{%else%}
<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div class="footer-top"> 
      <div class="row">
        <div class="col-1" id="socialicon" style="margin-top:-34px;">
          <h1 class="service-title social">
            <a href="https://www.instagram.com/dailypaper/" target="_blank" onclick="window.open(this.href,'_blank');return false;">
              <svg enable-background="new 0 0 512 512" width="16" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m352 0h-192c-88.352 0-160 71.648-160 160v192c0 88.352 71.648 160 160 160h192c88.352 0 160-71.648 160-160v-192c0-88.352-71.648-160-160-160zm112 352c0 61.76-50.24 112-112 112h-192c-61.76 0-112-50.24-112-112v-192c0-61.76 50.24-112 112-112h192c61.76 0 112 50.24 112 112z"/><path d="m256 128c-70.688 0-128 57.312-128 128s57.312 128 128 128 128-57.312 128-128-57.312-128-128-128zm0 208c-44.096 0-80-35.904-80-80 0-44.128 35.904-80 80-80s80 35.872 80 80c0 44.096-35.904 80-80 80z"/><circle cx="393.6" cy="118.4" r="17.056"/></svg></a>
            <a href="https://www.facebook.com/Dailypaper/" target="_blank" onclick="window.open(this.href,'_blank');return false;"> 
              <svg enable-background="new 0 0 24 24" width="16" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/></svg></a>
            <a href="https://www.youtube.com/channel/UCa4TSxPJEZB9NGxhnm1uWjQ" target="_blank" onclick="window.open(this.href,'_blank');return false;">
              <svg viewBox="0 -62 512.00199 512" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m334.808594 170.992188-113.113282-61.890626c-6.503906-3.558593-14.191406-3.425781-20.566406.351563-6.378906 3.78125-10.183594 10.460937-10.183594 17.875v122.71875c0 7.378906 3.78125 14.046875 10.117188 17.832031 3.308594 1.976563 6.976562 2.96875 10.652344 2.96875 3.367187 0 6.742187-.832031 9.847656-2.503906l113.117188-60.824219c6.714843-3.613281 10.90625-10.59375 10.9375-18.222656.027343-7.628906-4.113282-14.640625-10.808594-18.304687zm-113.859375 63.617187v-91.71875l84.539062 46.257813zm0 0"/><path d="m508.234375 91.527344-.023437-.234375c-.433594-4.121094-4.75-40.777344-22.570313-59.421875-20.597656-21.929688-43.949219-24.59375-55.179687-25.871094-.929688-.105469-1.78125-.203125-2.542969-.304688l-.894531-.09375c-67.6875-4.921874-169.910157-5.5937495-170.933594-5.59765575l-.089844-.00390625-.089844.00390625c-1.023437.00390625-103.246094.67578175-171.542968 5.59765575l-.902344.09375c-.726563.097657-1.527344.1875-2.398438.289063-11.101562 1.28125-34.203125 3.949219-54.859375 26.671875-16.972656 18.445312-21.878906 54.316406-22.382812 58.347656l-.058594.523438c-.152344 1.714844-3.765625 42.539062-3.765625 83.523437v38.3125c0 40.984375 3.613281 81.808594 3.765625 83.527344l.027344.257813c.433593 4.054687 4.746093 40.039062 22.484375 58.691406 19.367187 21.195312 43.855468 24 57.027344 25.507812 2.082031.238282 3.875.441406 5.097656.65625l1.183594.164063c39.082031 3.71875 161.617187 5.550781 166.8125 5.625l.15625.003906.15625-.003906c1.023437-.003907 103.242187-.675781 170.929687-5.597657l.894531-.09375c.855469-.113281 1.816406-.214843 2.871094-.324218 11.039062-1.171875 34.015625-3.605469 54.386719-26.019532 16.972656-18.449218 21.882812-54.320312 22.382812-58.347656l.058594-.523437c.152344-1.71875 3.769531-42.539063 3.769531-83.523438v-38.3125c-.003906-40.984375-3.617187-81.804687-3.769531-83.523437zm-26.238281 121.835937c0 37.933594-3.3125 77-3.625 80.585938-1.273438 9.878906-6.449219 32.574219-14.71875 41.5625-12.75 14.027343-25.847656 15.417969-35.410156 16.429687-1.15625.121094-2.226563.238282-3.195313.359375-65.46875 4.734375-163.832031 5.460938-168.363281 5.488281-5.082032-.074218-125.824219-1.921874-163.714844-5.441406-1.941406-.316406-4.039062-.558594-6.25-.808594-11.214844-1.285156-26.566406-3.042968-38.371094-16.027343l-.277344-.296875c-8.125-8.464844-13.152343-29.6875-14.429687-41.148438-.238281-2.710937-3.636719-42.238281-3.636719-80.703125v-38.3125c0-37.890625 3.304688-76.914062 3.625-80.574219 1.519532-11.636718 6.792969-32.957031 14.71875-41.574218 13.140625-14.453125 26.996094-16.054688 36.160156-17.113282.875-.101562 1.691407-.195312 2.445313-.292968 66.421875-4.757813 165.492187-5.464844 169.046875-5.492188 3.554688.023438 102.589844.734375 168.421875 5.492188.808594.101562 1.691406.203125 2.640625.3125 9.425781 1.074218 23.671875 2.699218 36.746094 16.644531l.121094.128906c8.125 8.464844 13.152343 30.058594 14.429687 41.75.226563 2.558594 3.636719 42.171875 3.636719 80.71875zm0 0"/></svg>
            </a>
            <a href="https://www.twitter.com/dailypaper" target="_blank" onclick="window.open(this.href,'_blank');return false;">
              <svg width="16" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m512 97.248c-19.04 8.352-39.328 13.888-60.48 16.576 21.76-12.992 38.368-33.408 46.176-58.016-20.288 12.096-42.688 20.64-66.56 25.408-19.264-20.512-46.72-33.216-76.672-33.216-58.112 0-104.896 47.168-104.896 104.992 0 8.32.704 16.32 2.432 23.936-87.264-4.256-164.48-46.08-216.352-109.792-9.056 15.712-14.368 33.696-14.368 53.056 0 36.352 18.72 68.576 46.624 87.232-16.864-.32-33.408-5.216-47.424-12.928v1.152c0 51.008 36.384 93.376 84.096 103.136-8.544 2.336-17.856 3.456-27.52 3.456-6.72 0-13.504-.384-19.872-1.792 13.6 41.568 52.192 72.128 98.08 73.12-35.712 27.936-81.056 44.768-130.144 44.768-8.608 0-16.864-.384-25.12-1.44 46.496 29.984 101.6 47.104 161.024 47.104 193.152 0 298.752-160 298.752-298.688 0-4.64-.16-9.12-.384-13.568 20.832-14.784 38.336-33.248 52.608-54.496z"/></svg></a>
          </h1>
        </div>
        <script>
          $( document ).ready(function() {
            /*
            function alignModal(){
                var modalDialog = $(this).find(".modal-dialog");
                /* Applying the top margin on modal dialog to align it vertically center 
                modalDialog.css("margin-top", Math.max(0, ($(window).height() - modalDialog.height()) / 3));
            }
            // Align modal when it is displayed
           // $(".modal").on("shown.bs.modal", alignModal);

            // Align modal when user resize the window
            $(window).on("resize", function(){
                $(".modal:visible").each(alignModal);
            });   
*/
            $('.footer-collapse > div').hide();

            var getLastPartOfUrl =function($url) {
              var url = $url;
              var urlsplit = url.split("#");
              var lastpart = urlsplit[urlsplit.length-1];
              if(lastpart==='')
              {
                lastpart = urlsplit[urlsplit.length-2];
              }
              return lastpart;
            }

            {% if template == 'index' %}
            $( ".footer-content li.toggle-sub-nav a" ).click(function(e) {
              e.preventDefault();
              if($(window).width() >= 767){
                if($('li.toggle-sub-nav a').hasClass('in-active')){
                }else{
                  var footer_h = $('.site-footer').innerHeight();
                  var id_h = $(this).attr('href');

                  var store_h = $(id_h).innerHeight() - 110;
                  var leftVal = $('.template-index #fullpage').get(0).style.transform;

                  var val_0 = (parseInt(leftVal.split(",")[1].replace('px','')) - store_h);
                  var val_1 = (parseInt(leftVal.split(",")[1].replace('px','')));
                  $('.template-index #fullpage').css({'transform':'translate3d(0, '+val_1+'px, 0)'});
                  setTimeout(function(){                
                    $('.template-index #fullpage').css({'transform':'translate3d(0, '+val_0+'px, 0)'});
                  }, 300);
                }
                $(this).addClass('in-active');
              }
              let urlID = '#' + getLastPartOfUrl(this.href);
              $('.footer-collapse > div').hide();
              $(urlID).toggle();             
            });
            {% else %}
            $( ".footer-content li.toggle-sub-nav a" ).click(function(e) {
              e.preventDefault();
              let urlID = '#' + getLastPartOfUrl(this.href);
              $('.footer-collapse > div').hide();
              $(urlID).toggle();             
            });
            {% endif %}
            
           

          });
        </script>
        <div class="footer-content">
          <div class="col-footer">Subscribe to our newsletter and we'll keep you updated 

            <a class="signup-link" href="#newsmodal" data-toggle="modal" data-target="#myModal"><span class="footer-signup">Sign Up</span></a>


            <div class="modal fade" id="myModal" role="dialog" style="margin-top:20px !important;">
              <div class="modal-dialog" style="width:450px;margin-top:20px !important;">

                <!-- Modal content-->
                <div class="modal-content" style="width:100%;margin-top:-50px!important;">
                  <div class="modal-header" style="border:none!important;height:45px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body" style="margin-top:-15px;">
                    <div class="klaviyo-form-VnsjXU"></div> 
                  </div>
                </div>

              </div>
            </div>


          </div>
          <div class="col-footer" style="float:right;">
            <ul>
              <li><a href="https://www.dailypaperclothing.com/pages/about-us">About</a></li>
              <li class="toggle-sub-nav">
                <a href="#stores">Stores</a>
              </li>
              <li><a href="https://www.dailypaperclothing.com/pages/contact-us">Contact</a></li>
{%- if template contains 'Fatboy' -%}
              
              {%- else -%}
              <li><a href="https://www.dailypaperclothing.com/pages/faq">FAQ</a></li>
			
              <li><a href="https://www.dailypaperclothing.com/pages/shipping">Shipping</a></li>

              <li><a href="https://www.dailypaperclothing.com/pages/returns">Return Policy</a></li>

              <li><a href="https://www.dailypaperclothing.com/pages/payments">Payments</a></li>

              <li class="toggle-sub-nav"><a href="#policy">Policy</a></li>

              <li><a href="https://www.dailypaperclothing.com/pages/careers">Careers</a></li>
              {%- endif -%}</ul>
            <div class="footer-collapse">
              <div class="stores" id="stores">
                <div><a href="https://www.dailypaperclothing.com/pages/daily-paper-london-flagship-store">14-16 Great Pulteney<br>London, W1F 9ND<br>United Kingdom</a></div>
                <div><a href="https://www.dailypaperclothing.com/pages/daily-paper-amsterdam-flagship-store">Bilderdijkstraat 131<br> 1053 KN, Amsterdam<br> The Netherlands</a></div>
                <div><a href="https://www.dailypaperclothing.com/pages/daily-paper-nyc-flagship-store">18 Delancey St.<br>New York, NY. 10002<br>United States</a></div>
              </div>

              <div class="policy" id="policy">
                <div><a href="https://www.dailypaperclothing.com/pages/terms-of-service">Terms of Service</a></div>
                <div><a href="https://www.dailypaperclothing.com/pages/returns">Return Policy</a></div>
                <div><a href="https://www.dailypaperclothing.com/pages/privacy-policy">Privacy Policy</a></div>
                <div><a href="https://www.dailypaperclothing.com/pages/warranty">Warranty</a></div>
                <div><a href="https://www.dailypaperclothing.com/pages/disclaimer">Disclaimer</a></div>

                <br>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="footer-content">
          <div class="col-footer"><br></div>
      
         </div>
    </div>
      <div class="row">
        <div class="footer-content">
          <div class="col-footer">Daily Paper Holding B.V. is the holder of several Daily Paper® trademarks. These trademarks may not be used by third parties without permission of Daily Paper Holding B.V.</div>
        </div>
    </div>

    <div class="row mobile-row dp-new-footer">
      <hr>
      <div class="dp-information">
        <a class="dp-new-collapse" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" >
          <span class="operator">+</span> Information
        </a>
        <div class="collapse" id="collapseExample">
          <hr>
          <div class="sub">
            <div><a href="https://www.dailypaperclothing.com/pages/about-us">About Us</a></div>
            <div><a href="#signup" data-toggle="modal" data-target="#myModal1">Sign Up</a></div>

            <div class="modal fade" id="myModal1" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content p-1">
                  <div class="modal-header" style="border:none!important;height:45px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body" style="margin-top:-15px;">
                    <div class="klaviyo-form-VnsjXU"></div> 
                  </div>
                </div>

              </div>
            </div>

          </div> 

          <div class="sub">
            <div><a href="https://www.dailypaperclothing.com/pages/contact-us">Contact</a></div>
            <a class="dp-new-collapse" data-toggle="collapse" href="#footer-contact" role="button" aria-expanded="false" aria-controls="footer-contact" >
              <span class="operator">+</span> Customer Service
            </a>
          </div>
          <div class="collapse customer-service" id="footer-contact">
            <hr>
            <ul style="display:flex;justify-content: space-between;flex-direction: row;margin-top:3px;margin-right:10px;">
              <li><a href="https://www.dailypaperclothing.com/pages/shipping">Shipping</a></li>
              <li><a href="https://www.dailypaperclothing.com/pages/return">Return Policy</a></li>
              <li><a href="https://www.dailypaperclothing.com/pages/faq">Faq</a></li>
              <li><a href="https://www.dailypaperclothing.com/pages/payments">Payments </a></li>
            </ul>
          </div>

          <div class="sub">
            <div><a href="https://www.dailypaperclothing.com/pages/careers">Careers</a></div>
            <a class="dp-new-collapse" data-toggle="collapse" href="#footer-policy" role="button" aria-expanded="false" aria-controls="footer-policy" >
              <span class="operator">+</span> Policy
            </a>
          </div>
          <div class="collapse customer-service" id="footer-policy">
            <hr>
            <ul class="dp-policy" style="display:flex;justify-content: space-between;flex-direction: row;margin-top:3px;margin-right:10px; flex-wrap:wrap">
              <li><a href="https://www.dailypaperclothing.com/pages/terms-of-service">Terms of Service</a></li>
              <li><a href="https://www.dailypaperclothing.com/pages/returns">Return Policy</a></li>
              <li><a href="https://www.dailypaperclothing.com/pages/privacy-policy">Privacy Policy</a></li>
              <li><a href="https://www.dailypaperclothing.com/pages/warranty">Warranty</a></li>
              <li><a href="https://www.dailypaperclothing.com/pages/disclaimer">Disclaimer</a></li>   
            </ul>
          </div>


        </div>
      </div>

      <div class="bottom-footer">
        <div class="logo">© Daily Paper 2020</div>
        <div class="socialmedia social">

          <a href="https://www.instagram.com/dailypaper/" target="_blank" onclick="window.open(this.href,'_blank');return false;"><svg enable-background="new 0 0 512 512" width="16" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m352 0h-192c-88.352 0-160 71.648-160 160v192c0 88.352 71.648 160 160 160h192c88.352 0 160-71.648 160-160v-192c0-88.352-71.648-160-160-160zm112 352c0 61.76-50.24 112-112 112h-192c-61.76 0-112-50.24-112-112v-192c0-61.76 50.24-112 112-112h192c61.76 0 112 50.24 112 112z"/><path d="m256 128c-70.688 0-128 57.312-128 128s57.312 128 128 128 128-57.312 128-128-57.312-128-128-128zm0 208c-44.096 0-80-35.904-80-80 0-44.128 35.904-80 80-80s80 35.872 80 80c0 44.096-35.904 80-80 80z"/><circle cx="393.6" cy="118.4" r="17.056"/></svg></a>

          <a href="https://www.facebook.com/Dailypaper/" target="_blank" onclick="window.open(this.href,'_blank');return false;"> <svg enable-background="new 0 0 24 24" width="16" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m15.997 3.985h2.191v-3.816c-.378-.052-1.678-.169-3.192-.169-3.159 0-5.323 1.987-5.323 5.639v3.361h-3.486v4.266h3.486v10.734h4.274v-10.733h3.345l.531-4.266h-3.877v-2.939c.001-1.233.333-2.077 2.051-2.077z"/></svg></a>

          <a href="https://www.youtube.com/channel/UCa4TSxPJEZB9NGxhnm1uWjQ" target="_blank" onclick="window.open(this.href,'_blank');return false;"><svg viewBox="0 -62 512.00199 512" width="16" xmlns="http://www.w3.org/2000/svg"><path d="m334.808594 170.992188-113.113282-61.890626c-6.503906-3.558593-14.191406-3.425781-20.566406.351563-6.378906 3.78125-10.183594 10.460937-10.183594 17.875v122.71875c0 7.378906 3.78125 14.046875 10.117188 17.832031 3.308594 1.976563 6.976562 2.96875 10.652344 2.96875 3.367187 0 6.742187-.832031 9.847656-2.503906l113.117188-60.824219c6.714843-3.613281 10.90625-10.59375 10.9375-18.222656.027343-7.628906-4.113282-14.640625-10.808594-18.304687zm-113.859375 63.617187v-91.71875l84.539062 46.257813zm0 0"/><path d="m508.234375 91.527344-.023437-.234375c-.433594-4.121094-4.75-40.777344-22.570313-59.421875-20.597656-21.929688-43.949219-24.59375-55.179687-25.871094-.929688-.105469-1.78125-.203125-2.542969-.304688l-.894531-.09375c-67.6875-4.921874-169.910157-5.5937495-170.933594-5.59765575l-.089844-.00390625-.089844.00390625c-1.023437.00390625-103.246094.67578175-171.542968 5.59765575l-.902344.09375c-.726563.097657-1.527344.1875-2.398438.289063-11.101562 1.28125-34.203125 3.949219-54.859375 26.671875-16.972656 18.445312-21.878906 54.316406-22.382812 58.347656l-.058594.523438c-.152344 1.714844-3.765625 42.539062-3.765625 83.523437v38.3125c0 40.984375 3.613281 81.808594 3.765625 83.527344l.027344.257813c.433593 4.054687 4.746093 40.039062 22.484375 58.691406 19.367187 21.195312 43.855468 24 57.027344 25.507812 2.082031.238282 3.875.441406 5.097656.65625l1.183594.164063c39.082031 3.71875 161.617187 5.550781 166.8125 5.625l.15625.003906.15625-.003906c1.023437-.003907 103.242187-.675781 170.929687-5.597657l.894531-.09375c.855469-.113281 1.816406-.214843 2.871094-.324218 11.039062-1.171875 34.015625-3.605469 54.386719-26.019532 16.972656-18.449218 21.882812-54.320312 22.382812-58.347656l.058594-.523437c.152344-1.71875 3.769531-42.539063 3.769531-83.523438v-38.3125c-.003906-40.984375-3.617187-81.804687-3.769531-83.523437zm-26.238281 121.835937c0 37.933594-3.3125 77-3.625 80.585938-1.273438 9.878906-6.449219 32.574219-14.71875 41.5625-12.75 14.027343-25.847656 15.417969-35.410156 16.429687-1.15625.121094-2.226563.238282-3.195313.359375-65.46875 4.734375-163.832031 5.460938-168.363281 5.488281-5.082032-.074218-125.824219-1.921874-163.714844-5.441406-1.941406-.316406-4.039062-.558594-6.25-.808594-11.214844-1.285156-26.566406-3.042968-38.371094-16.027343l-.277344-.296875c-8.125-8.464844-13.152343-29.6875-14.429687-41.148438-.238281-2.710937-3.636719-42.238281-3.636719-80.703125v-38.3125c0-37.890625 3.304688-76.914062 3.625-80.574219 1.519532-11.636718 6.792969-32.957031 14.71875-41.574218 13.140625-14.453125 26.996094-16.054688 36.160156-17.113282.875-.101562 1.691407-.195312 2.445313-.292968 66.421875-4.757813 165.492187-5.464844 169.046875-5.492188 3.554688.023438 102.589844.734375 168.421875 5.492188.808594.101562 1.691406.203125 2.640625.3125 9.425781 1.074218 23.671875 2.699218 36.746094 16.644531l.121094.128906c8.125 8.464844 13.152343 30.058594 14.429687 41.75.226563 2.558594 3.636719 42.171875 3.636719 80.71875zm0 0"/></svg>
          </a>

          <a href="https://www.twitter.com/dailypaper" target="_blank" onclick="window.open(this.href,'_blank');return false;">
            <svg width="16" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m512 97.248c-19.04 8.352-39.328 13.888-60.48 16.576 21.76-12.992 38.368-33.408 46.176-58.016-20.288 12.096-42.688 20.64-66.56 25.408-19.264-20.512-46.72-33.216-76.672-33.216-58.112 0-104.896 47.168-104.896 104.992 0 8.32.704 16.32 2.432 23.936-87.264-4.256-164.48-46.08-216.352-109.792-9.056 15.712-14.368 33.696-14.368 53.056 0 36.352 18.72 68.576 46.624 87.232-16.864-.32-33.408-5.216-47.424-12.928v1.152c0 51.008 36.384 93.376 84.096 103.136-8.544 2.336-17.856 3.456-27.52 3.456-6.72 0-13.504-.384-19.872-1.792 13.6 41.568 52.192 72.128 98.08 73.12-35.712 27.936-81.056 44.768-130.144 44.768-8.608 0-16.864-.384-25.12-1.44 46.496 29.984 101.6 47.104 161.024 47.104 193.152 0 298.752-160 298.752-298.688 0-4.64-.16-9.12-.384-13.568 20.832-14.784 38.336-33.248 52.608-54.496z"/></svg></a>
          </h1>
      </div>
    </div>
  </div>
  </div>

</footer>
<script>
  $('footer .signup-link').on('click', function(){
    $('#newsmodal.modal').css({'display':'block'});
  });
  $('.modal-content .close').on('click', function(){
    $('#newsmodal.modal').css({'display':'none'});
    $('.modal-backdrop').removeClass('in');
    $('#myModal').hide();
    $('body').removeClass('modal-open');
  });  
  $(document).on('keydown', function(event) {
       if (event.key == "Escape") {
           $('body').removeClass('modal-open');
       }
   });
  $('.dp-new-collapse').click(function(){ 
    $(this).children().text(function(i,old){
      return old=='+' ?  '-' : '+';
    });
    //$(this).parents('.dp-information').find('.collapse').toggle();
  });
  $('.sub > .dp-new-collapse').click(function(){ 
    $('.dp-information').toggleClass('footer-grey');
    $('.sub > .dp-new-collapse').toggleClass('footer-grey');
    $('.sub > div > a').toggleClass('footer-grey');
    $(this).toggleClass("footer-black");
    var href = $(this).attr('href');
    $(href).toggleClass("footer-black");
  });
  if($(window).width() <= 767){
    $('#home-footer').html('');
  }
</script>
{%endif%}