<div class="inlinecolors {% if product.title contains 'Reslider' %}inlinecolors-accessories-cls{% endif %}">
{%comment%} FW20 BEGIN {%endcomment%}
      {% if product.title contains "Essential Logo Sock" and product.type == "Accessories" and product.tags contains "FW20" %}
    <a href="/products/black-essential-logo-sock">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
    <a href="/products/white-essential-logo-sock">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>  
    {% endif %} 
      {% if product.title contains "Ehamea" and product.type == "Accessories" and product.tags contains "FW20" %}
    <a href="/products/black-ehamea-bag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
    <a href="/products/warm-grey-ehamea-bag">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>  
    <a href="/products/forest-green-ehamea-bag">
    {% if product.title contains "Green" %}<span class="productcolors forest-green-ehamea currentcolor"></span>
    {% else %}<span class="productcolors forest-green-ehamea"></span> 
    {% endif %}</a>  
    {% endif %} 
    {% if product.title contains "Etiny" and product.type == "Accessories" and product.tags contains "FW20" %}
    <a href="/products/black-etiny-bag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
    <a href="/products/warm-grey-etiny-bag">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>  
    <a href="/products/forest-green-etiny-bag">
    {% if product.title contains "Green" %}<span class="productcolors forest-green currentcolor"></span>
    {% else %}<span class="productcolors forest-green"></span> 
    {% endif %}</a>  
    {% endif %} 
      {% if product.title contains "Essential Cap" and product.type == "Accessories" and product.tags contains "FW20" %}
    <a href="/products/black-essential-cap">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
    <a href="/products/forest-green-essential-cap">
    {% if product.title contains "Green" %}<span class="productcolors forest-green currentcolor"></span>
    {% else %}<span class="productcolors forest-green"></span> 
    {% endif %}</a>  
    {% endif %} 
        {% if product.title contains "Essential Beanie" and product.type == "Accessories" and product.tags contains "FW20" %}
    <a href="/products/black-essential-beanie">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
    <a href="/products/mauve-pink-essential-beanie">
    {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
    {% else %}<span class="productcolors pink"></span> 
    {% endif %}</a>  
    <a href="/products/ink-blue-essential-beanie">
    {% if product.title contains "Blue" %}<span class="productcolors ink-blue currentcolor"></span>
    {% else %}<span class="productcolors ink-blue"></span> 
    {% endif %}</a>  
    {% endif %} 
      {% if product.title contains "Etote" and product.type == "Accessories" and product.tags contains "FW20" %}
    <a href="/products/black-etote-bag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
    <a href="/products/green-etote-bag">
    {% if product.title contains "Green" %}<span class="productcolors forest-green currentcolor"></span>
    {% else %}<span class="productcolors forest-green"></span> 
    {% endif %}</a>  
    {% endif %} 
  {%comment%} FW20 END {%endcomment%}
  {% if product.title contains "Miki" and product.type == "Accessories" %}
  <a href="/products/black-shibori-denim-miki-hat">
    {% if product.title contains "Denim" %}<span class="productcolors miki-hat currentcolor"></span>
    {% else %}<span class="productcolors miki-hat"></span> 
    {% endif %}</a> 
  <a href="/products/orange-heat-sensitive-miki-hat">
    {% if product.title contains "Heat" %}<span class="productcolors orange-heat currentcolor"></span>
    {% else %}<span class="productcolors orange-heat"></span> 
    {% endif %}</a>  
  {% endif %} 
  {% if product.title contains "Beret" and product.type == "Accessories" %}
  <a href="/products/sharp-green-overdye-beret-hat">
    {% if product.title contains "Green" %}<span class="productcolors sharp-green-new currentcolor"></span>
    {% else %}<span class="productcolors sharp-green-new"></span> 
    {% endif %}</a> 
  <a href="/products/orange-heat-sensitive-beret-hat">
    {% if product.title contains "Heat" %}<span class="productcolors orange-heat currentcolor"></span>
    {% else %}<span class="productcolors orange-heat"></span> 
    {% endif %}</a>  
  {% endif %} 
  {% if product.title contains "Bob" and product.type == "Accessories" %}
  <a href="/products/sharp-green-overdye-bob-hat">
    {% if product.title contains "Green" %}<span class="productcolors sharp-green-new currentcolor"></span>
    {% else %}<span class="productcolors sharp-green-new"></span> 
    {% endif %}</a> 
  <a href="/products/black-shibori-denim-bob-hat">
    {% if product.title contains "Denim" %}<span class="productcolors miki-hat currentcolor"></span>
    {% else %}<span class="productcolors miki-hat"></span> 
    {% endif %}</a>  
  {% endif %} 
  {% if product.title contains "Mask" and product.type == "Accessories" %}
  <a href="/products/dp-mask">
    {% if product.title contains "DP" %}<span class="productcolors dp-mask currentcolor"></span>
    {% else %}<span class="productcolors dp-mask"></span> 
    {% endif %}</a> 
  <a href="/products/shield-logo-mask">
    {% if product.title contains "Shield" %}<span class="productcolors shield-mask currentcolor"></span>
    {% else %}<span class="productcolors shield-mask"></span> 
    {% endif %}</a>  
  {% endif %} 
  {% if product.title contains "Reslider" and product.type == "Accessories" %}
  <a href="/products/black-reslider-sandals">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/white-reslider-sandals">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>  
  {% endif %} 
  {% if product.title contains "Rebucket" and product.type == "Accessories" and product.tags contains "SS20Resort" %}
  <a href="/products/striped-rebucket-hat">
    {% if product.title contains "Striped" %}<span class="productcolors multi-resort currentcolor"></span>
    {% else %}<span class="productcolors multi-resort"></span> 
    {% endif %}</a> 
  <a href="/products/black-rebucket-hat">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  
  <a href="/products/mint-green-rebucket-hat">
    {% if product.title contains "Green" %}<span class="productcolors mint-green currentcolor"></span>
    {% else %}<span class="productcolors mint-green"></span> 
    {% endif %}</a>
  {% endif %} 
  {% if product.title contains "Komono"  and product.type == "Sunglasses" product.tag contains "KOMONO" %}
  <a href="/collections/daily-paper-x-komono/products/daily-paper-x-komono-racing-red-kenyatta-sunglasses">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>  
  <a href="/collections/daily-paper-x-komono/products/daily-paper-x-komono-black-kenyatta-sunglasses">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>   
  <a href="/collections/daily-paper-x-komono/products/daily-paper-x-komono-tortoise-kenyatta-sunglasses">
    {% if product.title contains "Tortoise" %}<span class="productcolors kenyatta currentcolor"></span>
    {% else %}<span class="productcolors kenyatta"></span> 
    {% endif %}</a>   
  {% endif %}
{%comment%} SS20 END ACCESSORIES {%endcomment%}
  {% if product.title contains "Shield Logo Cap" and product.type == "Accessories" or product.title contains "Shield Logo Cap" and product.type == "Headwear"  %}
  <a href="/products/green-shield-logo-cap">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a> 
  <a href="/products/black-shield-logo-cap">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>   
  {% endif %}
  {% if product.title contains "Hamea" and product.type == "Accessories" and product.tags contains "SS20" %}
  <a href="/products/black-hamea-bag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  
  <a href="/products/orange-hamea-bag">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>   
  {% endif %}

  {% if product.title contains "Hatiny" and product.type == "Accessories" and product.tags contains "SS20" %}
  <a href="/products/orange-hatiny-bag">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>   
  {% endif %}

  {% if product.title contains "Harec" and product.type == "Accessories" and product.tags contains "SS20" %}
  <a href="/products/black-harec-waistbag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  
  <a href="/products/orange-harec-waistbag">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>   
  {% endif %}
  {% if product.title contains "Hally" and product.type == "Accessories" and product.tags contains "SS20" %}
  <a href="/products/blue-croco-hally-keychain">
    {% if product.title contains "Blue" %}<span class="productcolors lightblue currentcolor"></span>
    {% else %}<span class="productcolors lightblue"></span> 
    {% endif %}</a>  
  <a href="/products/orange-hally-keychain">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>   
  {% endif %}
  {% if product.title contains "Humini" and product.type == "Accessories" and product.tags contains "SS20" %}
  <a href="/products/black-humini-bag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  
  <a href="/products/zebra-humini-bag">
    {% if product.title contains "Zebra" %}<span class="productcolors zebra currentcolor"></span>
    {% else %}<span class="productcolors zebra"></span> 
    {% endif %}</a>   
  {% endif %}
  {% if product.title contains "Habi" and product.type == "Accessories" and product.tags contains "SS20" %}
  <a href="/products/blue-croco-habi-waistbag">
    {% if product.title contains "Blue" %}<span class="productcolors lightblue currentcolor"></span>
    {% else %}<span class="productcolors lightblue"></span> 
    {% endif %}</a>  
  <a href="/products/brown-croco-habi-waistbag">
    {% if product.title contains "Brown" %}<span class="productcolors brown currentcolor"></span>
    {% else %}<span class="productcolors brown"></span> 
    {% endif %}</a>   
  {% endif %}
  {% if product.title contains "Habder" and product.type == "Accessories" and product.tags contains "SS20" %}
  <a href="/products/mole-habder-belt">
    {% if product.title contains "Mole" %}<span class="productcolors brown currentcolor"></span>
    {% else %}<span class="productcolors brown"></span> 
    {% endif %}</a>  
  <a href="/products/sharp-green-habder-belt">
    {% if product.title contains "Green" %}<span class="productcolors sharp-green currentcolor"></span>
    {% else %}<span class="productcolors sharp-green"></span> 
    {% endif %}</a>   
  {% endif %}
  {% unless product.title contains "Harec" or product.title contains "Habi" %}
    {% if product.title contains "Waistbag" and product.type == "Accessories" and product.tags contains "SS20" %}
    <a href="/products/flame-orange-waistbag">
      {% if product.title contains "Flame Orange" %}<span class="productcolors orange currentcolor"></span>
      {% else %}<span class="productcolors orange"></span> 
      {% endif %}</a>  
    <a href="/products/grape-leaf-green-waistbag">
      {% if product.title contains "Green" %}<span class="productcolors army-green currentcolor"></span>
      {% else %}<span class="productcolors army-green"></span> 
      {% endif %}</a>   

    {% endif %}
  {%endunless%}
{%comment%} SS20 END {%endcomment%}
{%comment%} FW19 HOLIDAY {%endcomment%}
  {% if product.title contains "Merino Scarf" and product.type == "Accessories" and product.tags contains "FW19HOLIDAY" %}
  <a href="/products/navy-blue-merino-scarf">
    {% if product.title contains "Navy Blue" %}<span class="productcolors navy-blue currentcolor"></span>
    {% else %}<span class="productcolors navy-blue"></span> 
    {% endif %}</a>  
  <a href="/products/red-black-merino-scarf">
    {% if product.title contains "Red Black" %}<span class="productcolors red-black currentcolor"></span>
    {% else %}<span class="productcolors red-black"></span> 
    {% endif %}</a>  
  <a href="/products/brown-black-merino-scarf">
    {% if product.title contains "Brown Black" %}<span class="productcolors brown-black currentcolor"></span>
    {% else %}<span class="productcolors brown-black"></span> 
    {% endif %}</a>  
  {% endif %}
  {% if product.title contains "Daily Beanie" and product.type == "Accessories" and product.tags contains "FW19HOLIDAY" %}
  <a href="/products/black-daily-beanie">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  
  <a href="/products/green-daily-beanie">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a>  
  <a href="/products/arabian-spice-daily-beanie">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>  
  {% endif %}
{%comment%} FW19 HOLIDAY {%endcomment%}
{%comment%} Daily Paper x STARBOY {%endcomment%}
  {% if product.title contains "Socks" and product.vendor == "Daily Paper x Starboy" %}
  <a href="/products/daily-paper-x-starboy-black-socks">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/daily-paper-x-starboy-white-socks">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Boxer" and product.vendor == "Daily Paper x Starboy" %}
  <a href="/products/daily-paper-x-starboy-black-boxer">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/daily-paper-x-starboy-white-boxer">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}
{%comment%} Daily Paper X STARBOY {%endcomment%}
{%comment%} Fall/Winter 19 Collection {%endcomment%}
  {% if product.title contains "Gabder" %}
  <a href="/products/silver-gabder-workerwear-belt">
    {% if product.title contains "Silver" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 
  <a href="/products/green-gabder-workerwear-belt">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a> 
  {% endif %}
{% if product.title contains "Gabi Bag" %}
  <a href="/products/black-croco-gabi-bag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/blue-snake-gabi-bag">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Gee Bag" %}
  <a href="/products/black-gee-bag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/grey-tie-dye-gee-bag">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Geme Belt" %}
  <a href="/products/lilac-geme-belt">
    {% if product.title contains "Lilac" %}<span class="productcolors lilac currentcolor"></span>
    {% else %}<span class="productcolors lilac"></span> 
    {% endif %}</a> 
  <a href="/products/blue-geme-belt">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Gub Sock"%}
  <a href="/products/black-gub-sock">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/grape-gub-sock">
    {% if product.title contains "Grape" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a> 
  <a href="/products/lime-gub-sock">
    {% if product.title contains "Lime" %}<span class="productcolors lime currentcolor"></span>
    {% else %}<span class="productcolors lime"></span> 
    {% endif %}</a> 
  {% endif %}
{%comment%} END Fall/Winter 19 Collection {%endcomment%}
{%comment%} Spring/Summer 19 Collection {%endcomment%}
  {% if product.title contains "Shoulder Bag" and product.tags == "SS19RESORT" %}
  <a href="/products/black-shoulder-bag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Fidi Waistbag" %}
  <a href="/products/black-fidi-waistbag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/grey-fidi-waistbag">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Fee V-Waistbag" %}
  <a href="/products/navy-fee-v-waistbag">
    {% if product.title contains "Navy" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a> 
  <a href="/products/grey-fee-v-waistbag">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Black Farno Belt" %}
  <a href="/products/black-farno-belt">
    <span class="productcolors black currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "White Fonty Totebag" %}
  <a href="/products/white-fonty-totebag">
    <span class="productcolors white currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "Denim Finem Waistbag" %}
  <a href="/products/denim-finem-wasitbag">
    <span class="productcolors worker-tie-dye currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "Denim Feach Totebag" %}
  <a href="/products/denim-feach-totebag">
    <span class="productcolors worker-tie-dye currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "Beige Fouch Waistbag" %}
  <a href="/products/beige-fouch-waistbag">
    <span class="productcolors beige currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "Navy Fos Backpack" %}
  <a href="/products/navy-fos-backpack">
    <span class="productcolors navy currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "Beige Utility Backpack" %}
  <a href="/products/beige-utility-backpack">
    <span class="productcolors beige currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "Red Forset Waistbag" %}
  <a href="/products/red-forset-waistbag">
    <span class="productcolors red currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "Fabder Workerwear Belt" %}
  <a href="/products/black-fabder-workerwear-belt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/beige-fabder-workerwear-belt">
    {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
    {% else %}<span class="productcolors beige"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Transparent Faz Totebag" %}
  <a href="/products/green-transparent-faz-totebag">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a> 
  <a href="/products/black-transparent-faz-totebag">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Reversible Bucket Hat" %}
  <a href="/products/white-reversible-bucket-hat">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Flint Socks" %}
  <a href="/products/black-flint-socks">
    <span class="productcolors black currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.tags contains "Digital Age" and product.title contains "Socks"%}
  <a href="/products/white-frock-socks">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  <a href="/products/mint-fulton-socks">
    {% if product.title contains "Mint" %}<span class="productcolors mint currentcolor"></span>
    {% else %}<span class="productcolors mint"></span> 
    {% endif %}</a> 
  {% endif %}
{%comment%} END Spring/Summer 19 Collection {%endcomment%}
{%comment%} Collaborations {%endcomment%}
  {% if product.title contains "Daily Paper x Havana Club Pocket Belt" %}
  <a href="/products/daily-paper-x-havana-club-pocket-belt">
    <span class="productcolors black currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.tags contains "Zeeman" and product.title contains "Socks" %}
  <a href="/products/yellow-zeeman-socks">
    {% if product.title == "Yellow/Blue Socks" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a> 
  <a href="/products/blue-zeeman-socks">
    {% if product.title == "Blue/Yellow Socks" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.tags contains "Zeeman" and product.title contains "Cap" %}
  <a href="/products/yellow-zeeman-cap">
    {% if product.title == "Yellow/Blue Cap" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a> 
  <a href="/products/blue-zeeman-cap">
    {% if product.title == "Blue/Yellow Cap" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 
  {% endif %}
{%comment%} END Collaborations {%endcomment%}
  {% if product.title contains "Waist Pack" %}
  <a href="/products/waist-pack-black">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/waist-pack-army-green">
    {% if product.title contains "Green" %}<span class="productcolors armygreen currentcolor"></span>
    {% else %}<span class="productcolors armygreen"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title == "Waist Pack Multipocket Black" %}
  <a href="/products/waist-pack-multipocket-black">
    <span class="productcolors black currentcolor"></span> 
  </a>  
  {% endif %}
  {% if product.title contains "Football Scarf" %}
  <a href="/products/black-football-scarf">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/yellow-football-scarf">
    {% if product.title contains "Yellow" %}<span class="productcolors darkyellow currentcolor"></span>
    {% else %}<span class="productcolors darkyellow"></span> 
    {% endif %}</a> 
  <a href="/products/red-football-scarf">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.tags contains "Unite" %}
  <a href="/products/red-daja-socks">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Continue" %}
  <a href="/products/continue-line-socks-white">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  <a href="/products/continue-line-socks-black">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/continue-line-socks-red">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Shutter" %}
  <a href="/products/shutter-socks-white">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  <a href="/products/shutter-socks-pink">
    {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
    {% else %}<span class="productcolors pink"></span> 
    {% endif %}</a> 
  <a href="/products/shutter-socks-navy">
    {% if product.title contains "Navy" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains "Shield Logo Socks" %}
  <a href="/products/shield-logo-socks-black">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title == "Logo Socks Black" %}
  <a href="/products/logo-socks-black">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/logo-socks-white">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title == "White Marcus Logo Socks" %}
  <a href="/products/logo-socks-black">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/logo-socks-white">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title == "Logo Socks White" %}
  <a href="/products/logo-socks-black">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 
  <a href="/products/logo-socks-white">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}
  {% if product.title contains 'Reslider' %}
  <div id="myBtn" style="cursor:pointer;margin-top: 10px;margin-bottom: -15px;text-decoration:underline;"> Size Guide </div>
  <!-- The Modal -->
  <div id="myModa" class="modal inlinecolors-accessories-model">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <table class="table-dp-size">
        <tr>
          <th>EU Size</th>
          <th>UK Size</th>
          <th>US MEN </th>
          <th>US WOMEN </th>
        </tr>
        <tr>
          <td>36</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>37</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td>38</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>39</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
        </tr>
        <tr>
          <td>40</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
        </tr>
        <tr>
          <td>41</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
        </tr>
        <tr>
          <td>42</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
        </tr>
        <tr>
          <td>43</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
        </tr>
        <tr>
          <td>44</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
        </tr>
        <tr>
          <td>45</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>

        <tr>
          <td>46</td>
          <td>13</td>
          <td>14</td>
          <td>15</td>
        </tr>
      </table>
    </div>
  </div>
  <script>
    // Get the modal
    var modal = document.getElementById("myModa");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
  {%endif%}
</div>
