<div class="inlinecolors">
{% comment %}---- Fall/Winter '19 Collection ---- {% endcomment %}
  
  {% if product.title contains "Gous" and product.type == "T-shirts" and product.tags contains "FW19" %}
  <a href="/collections/sale-women/products/white-gous-4-t-shirt">
    {% if product.title contains "4" %}<span class="productcolors blue-yellow currentcolor"></span>
    {% else %}<span class="productcolors blue-yellow"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-gous-5-t-shirt">
    {% if product.title contains "5" %}<span class="productcolors black-green currentcolor"></span>
    {% else %}<span class="productcolors black-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-gous-3-t-shirt">
    {% if product.title contains "3" %}<span class="productcolors blue-red currentcolor"></span>
    {% else %}<span class="productcolors blue-red"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-gous-1-t-shirt">
    {% if product.title contains "1" %}<span class="productcolors grey-green currentcolor"></span>
    {% else %}<span class="productcolors grey-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-gous-2-t-shirt">
    {% if product.title contains "2" %}<span class="productcolors pink-blue currentcolor"></span>
    {% else %}<span class="productcolors pink-blue"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gady" and product.type == "Women Pants" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/green-snake-gady-pants">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/purple-snake-gady-pants">
    {% if product.title contains "Purple" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gorhand" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/white-gorhand-t-shirt">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-gorhand-t-shirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gura" or product.title contains "Gator" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/pumpkin-gura-t-shirt">
    {% if product.title contains "Gura" %}<span class="productcolors brown currentcolor"></span>
    {% else %}<span class="productcolors brown"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-white-tie-dye-gator-t-shirt">
    {% if product.title contains "Gator" %}<span class="productcolors black-white currentcolor"></span>
    {% else %}<span class="productcolors black-white"></span> 
    {% endif %}</a>  

  {% endif %}
  
  {% if product.title contains "Gimbla" or product.title contains "Gimrio" and product.type == "Sweaters" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-gimbla-sweater">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/rio-red-gimrio-sweater">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gante" and product.type == "Jackets" and product.tags contains "FW19"%}

  <a href="/collections/sale-women/products/green-snake-gante-coat">
    {% if product.title contains "Green Snake" %}<span class="productcolors greensnake currentcolor"></span>
    {% else %}<span class="productcolors greensnake"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/purple-reflective-gante-coat">
    {% if product.title contains "Purple" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a> 

  {% endif %}  
  
  {% if product.title contains "Core Puffer Jacket" and product.type == "Jackets" and product.tags contains "FW19"%}

  <a href="/collections/sale-women/products/black-holographic-core-puffer-jacket">
    {% if product.title contains "Holographic" %}<span class="productcolors holographic currentcolor"></span>
    {% else %}<span class="productcolors holographic"></span> 
    {% endif %}</a>  

  {% endif %} 

  {% if product.title contains "Gongor" or product.title contains "Gonbla" and product.type == "Long sleeves" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-yellow-tie-dye-gongor-longsleeve">
    {% if product.title contains "Black Yellow Gongor" %}<span class="productcolors black-yellow currentcolor"></span>
    {% else %}<span class="productcolors black-yellow"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-white-tie-dye-gonbla-longsleeve">
    {% if product.title contains "Black White Gonbla" %}<span class="productcolors black-white currentcolor"></span>
    {% else %}<span class="productcolors black-white"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Grackt" and product.type == "Women Jackets" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-grackt-tape-jacket">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/serenity-blue-grackt-tape-jacket">
    {% if product.title contains "Blue" %}<span class="productcolors pastel-blue currentcolor"></span>
    {% else %}<span class="productcolors pastel-blue"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Glair" and product.type == "Women Pants" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-glair-tape-pants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/serenity-blue-glair-tape-pants">
    {% if product.title contains "Blue" %}<span class="productcolors pastel-blue currentcolor"></span>
    {% else %}<span class="productcolors pastel-blue"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gabla" or product.title contains "Gacrush" and product.type == "Sweaters" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-gabla-hoody">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/grape-gacrush-hoody">
    {% if product.title contains "Grape" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gormy" or product.title contains "Gorcrush" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/blue-gormy-t-shirt">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/grape-gorcrush-t-shirt">
    {% if product.title contains "Grape" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gorbla" or product.title contains "Gorsulp" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-gorbla-t-shirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/yellow-gorsulp-t-shirt">
    {% if product.title contains "Yellow" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gorpoin" or product.title contains "Gorelly" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/orange-gorpoin-t-shirt">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/green-gorelly-t-shirt">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Geff" and product.type == "Long sleeves" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-geff-longsleeve">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-geff-longsleeve">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Tapevest" and product.type == "Jackets" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/midnight-black-tapevest-track-top">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/ocean-blue-tapevest-track-top">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gasah" and product.type == "Jackets" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-gasah-jacket">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/burgundy-reflective-gasah-jacket">
    {% if product.title contains "Burgundy" %}<span class="productcolors burgundy currentcolor"></span>
    {% else %}<span class="productcolors burgundy"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Guka" and product.type == "Pants" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-guka-pants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/burgundy-reflective-guka-pants">
    {% if product.title contains "Burgundy" %}<span class="productcolors burgundy currentcolor"></span>
    {% else %}<span class="productcolors burgundy"></span> 
    {% endif %}</a>  

  {% endif %} 

  {% if product.title contains "Liba"and product.type == "Pants" and product.tags contains "FW19"%}

  <a href="/collections/sale-women/products/midnight-black-liba-track-pants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/ocean-blue-liba-track-pants">
    {% if product.title contains "Blue" %}<span class="productcolors light-blue currentcolor"></span>
    {% else %}<span class="productcolors light-blue"></span> 
    {% endif %}</a>

  {% endif %} 

{% comment %}---- End Fall/Winter '19 Collection ---- {% endcomment %}
{% comment %}---- FW19ESSENTIALS ---- {% endcomment %}
  
  {% if product.title contains "Polo" and product.type =="Longsleeves" and product.tags contains "NOS" %}

  <a href="/collections/sale-women/products/red-polo-longsleeve">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/green-polo-longsleeve">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a> 

  {% endif %} 
  
  {% if product.title == "White Alia T-Shirt" or product.title == "Black Alia T-Shirt" and product.type == "T-shirts" %}

  <a href="/collections/sale-women/products/black-alia-t-shirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/white-alia-t-shirt">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}  
  {% if product.title contains "Alias T-Shirt" and product.type == "T-shirts" %}

  <a href="/collections/sale-women/products/yellow-alias-t-shirt">
    {% if product.title contains "Yellow" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/red-alias-t-shirt">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/blue-alias-t-shirt">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 

  {% endif %}  

  {% if product.title contains "Aba Sweater" and product.type == "Sweaters" %}

  <a href="/collections/sale-women/products/teal-aba-sweater">
    {% if product.title contains "Teal" %}<span class="productcolors teal currentcolor"></span>
    {% else %}<span class="productcolors teal"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Alias Hoody" and product.type == "Sweaters" %} 

  <a href="/collections/sale-women/products/yellow-alias-hoody">
    {% if product.title contains "Yellow" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/red-alias-hoody">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/Blue-alias-hoody">
    {% if product.title contains "blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>   

  {% endif %}   

  {% if product.title contains "Captain" and product.type =="Sweaters" and product.tags contains "Washed"%}

  <a href="/collections/sale-women/products/anthracite-washed-captain-hoody">
    {% if product.title contains "Anthracite" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/blue-washed-captain-hoody">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/burgundy-washed-captain-hoody">
    {% if product.title == "Burgundy Washed Captain Hoody" %}<span class="productcolors burgundy currentcolor"></span>
    {% else %}<span class="productcolors burgundy"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/green-washed-captain-hoody">
    {% if product.title contains "Green" %}<span class="productcolors dark-green currentcolor"></span>
    {% else %}<span class="productcolors dark-green"></span> 
    {% endif %}</a> 

  {% endif %}  

  {% if product.title contains "Captain" and product.type =="Sweaters" and product.tags contains "Main" %}

  <a href="/collections/sale-women/products/brown-captain-hoody">
    {% if product.title contains "Brown" %}<span class="productcolors brown currentcolor"></span>
    {% else %}<span class="productcolors brown"></span> 
    {% endif %}</a> 

  {% endif %}   

  {% if product.title contains "Tape Logo Track Pants" and product.type == "Pants" and product.tags contains "FW19ESSENTIALS" %}

  <a href="/collections/sale-women/products/turkish-sea-tape-logo-track-pants">
    {% if product.title contains "Turkish" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/jolly-green-tape-logo-track-pants">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a>

  {% endif %}  

{% comment %}---- End FW19ESSENTIALS ---- {% endcomment %}
{% comment %}---- SS19RESORT ---- {% endcomment %}
  {% if product.title contains "Fara Tape Skirt" and product.type == "Women Skirts" and product.tags contains "SS19RESORT" %}

  <a href="/collections/sale-women/products/black-fara-tape-skirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/navy-fara-tape-skirt">
    {% if product.title contains "Navy" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>

  {% endif %}
{% comment %}---- END SS19RESORT ---- {% endcomment %}
  {% if product.title contains "Essential" and product.type == "T-shirts" and product.tags contains "Shopping2" %}

  <a href="/collections/sale-women/products/black-essential-t-shirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/red-essential-t-shirt">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/blue-essential-t-shirt">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/white-essential-t-shirt">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Essential Sweater" and product.type == "Sweaters" %}

  <a href="/collections/sale-women/products/black-essential-sweater">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/red-essential-sweater">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/blue-essential-sweater">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/grey-essential-sweater">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/white-essential-sweater">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>

  {% endif %}

  {% if product.title contains "Essential Hoody" and product.type == "Sweaters" %}

  <a href="/collections/sale-women/products/black-essential-hoody">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/yellow-essential-hoody">
    {% if product.title contains "Yellow" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/red-essential-hoody">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>    

  <a href="/collections/sale-women/products/blue-essential-hoody">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/grey-essential-hoody">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/pink-essential-hoody">
    {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
    {% else %}<span class="productcolors pink"></span> 
    {% endif %}</a>    

  <a href="/collections/sale-women/products/white-essential-hoody">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}

  {% if product.title contains "Essential Fleece Short" and product.type == "Shorts" %}

  <a href="/collections/sale-women/products/black-essential-fleece-short">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/yellow-essential-fleece-short">
    {% if product.title contains "Yellow" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/red-essential-fleece-short">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/blue-essential-fleece-short">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/grey-essential-fleece-short">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/pink-essential-fleece-short">
    {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
    {% else %}<span class="productcolors pink"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/white-essential-fleece-short">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 

  {% endif %}

  {% if product.title contains "Essential Coach Jacket" and product.type == "Jackets" %}

  <a href="/collections/sale-women/products/black-essential-coach-jacket">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/red-essential-coach-jacket">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/green-essential-coach-jacket">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/blue-essential-coach-jacket">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>  

  {% endif %}
  {%comment%}SS20 RESORT BEGIN{%endcomment%}  
  
  {% if product.title contains "Swim" and product.type == "Swimwear" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/tie-dye-repast-swim-shorts">
    {% if product.title contains "Repast" %}<span class="productcolors rainbow-light currentcolor"></span>
    {% else %}<span class="productcolors rainbow-light"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/tie-dye-reprime-swim-shorts">
    {% if product.title contains "Reprime" %}<span class="productcolors rainbow-dark currentcolor"></span>
    {% else %}<span class="productcolors rainbow-dark"></span> 
    {% endif %}</a>  
  {% endif %} 
  
  {%if product.type == "Longsleeves" %}
  {% if product.title contains "Reprime" or product.title contains "Repast"%}

  <a href="/collections/sale-women/products/tie-dye-repast-longsleeve">
    {% if product.title contains "Repast" %}<span class="productcolors rainbow-light currentcolor"></span>
    {% else %}<span class="productcolors rainbow-light"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/tie-dye-reprime-longsleeve">
    {% if product.title contains "Reprime" %}<span class="productcolors rainbow-dark currentcolor"></span>
    {% else %}<span class="productcolors rainbow-dark"></span> 
    {% endif %}</a>  

  {% endif %} 
  {% endif %} 
  
  {%if product.type == "T-Shirts" %}
    {% if product.title contains "Reprime" or product.title contains "Repast"%}

    <a href="/collections/sale-women/products/tie-dye-repast-t-shirt">
      {% if product.title contains "Repast" %}<span class="productcolors rainbow-light currentcolor"></span>
      {% else %}<span class="productcolors rainbow-light"></span> 
      {% endif %}</a> 

    <a href="/collections/sale-women/products/tie-dye-reprime-t-shirt">
      {% if product.title contains "Reprime" %}<span class="productcolors rainbow-dark currentcolor"></span>
      {% else %}<span class="productcolors rainbow-dark"></span> 
      {% endif %}</a>   

    {% endif %} 
  {% endif %} 
  
  {% if product.title contains "Recargo" and product.type == "Jackets" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/mint-green-recargo-vest">
    {% if product.title contains "Green" %}<span class="productcolors mint-green currentcolor"></span>
    {% else %}<span class="productcolors mint-green"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/black-recargo-vest">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  {% endif %}   
  
  {% if product.title contains "Recargo" and product.type == "Pants" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/mint-green-recargo-trackpants">
    {% if product.title contains "Green" %}<span class="productcolors mint-green currentcolor"></span>
    {% else %}<span class="productcolors mint-green"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/black-recargo-trackpants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  {% endif %} 

  {% if product.title contains "Refarid" and product.type == "T-Shirts" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/grey-refarid-t-shirt">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/beige-refarid-t-shirt">
    {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
    {% else %}<span class="productcolors beige"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/mint-green-refarid-t-shirt">
    {% if product.title contains "Green" %}<span class="productcolors mint-green currentcolor"></span>
    {% else %}<span class="productcolors mint-green"></span> 
    {% endif %}</a>

  {% endif %} 

  {% if product.title contains "Refarid" and product.type == "Shorts" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/grey-refarid-short">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/beige-refarid-short">
    {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
    {% else %}<span class="productcolors beige"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/mint-green-refarid-short">
    {% if product.title contains "Green" %}<span class="productcolors mint-green currentcolor"></span>
    {% else %}<span class="productcolors mint-green"></span> 
    {% endif %}</a>

  {% endif %} 
  
  {% if product.title contains "Reflare" and product.type == "Women Pants" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/blue-shibori-reflare-pants">
    {% if product.title contains "Shibori" %}<span class="productcolors shibori-resort currentcolor"></span>
    {% else %}<span class="productcolors shibori-resort"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/green-tie-dye-reflare-pants">
    {% if product.title contains "Green" %}<span class="productcolors green-tie-resort currentcolor"></span>
    {% else %}<span class="productcolors green-tie-resort"></span> 
    {% endif %}</a>  


  {% endif %} 
  
  {% if product.title contains "Rebike" and product.type == "Women Shorts" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/black-rebike-shorts">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/silver-rebike-shorts">
    {% if product.title contains "Silver" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/green-tie-dye-rebike-shorts">
    {% if product.title contains "Green" %}<span class="productcolors green-tie-resort currentcolor"></span>
    {% else %}<span class="productcolors green-tie-resort"></span> 
    {% endif %}</a>  

  {% endif %} 

  {% if product.title contains "Resymetric Top" and product.type == "Women Tops" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/black-resymetric-top">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/silver-resymetric-top">
    {% if product.title contains "Silver" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/green-tie-dye-resymetric-top">
    {% if product.title contains "Green" %}<span class="productcolors green-tie-resort currentcolor"></span>
    {% else %}<span class="productcolors green-tie-resort"></span> 
    {% endif %}</a>  

  {% endif %} 


  {% if product.title contains "Resymetric Vest" and product.type == "Women Tops" and product.tags contains "SS20Resort" %}

  <a href="/collections/sale-women/products/black-resymetric-vest">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/silver-resymetric-vest">
    {% if product.title contains "Silver" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/green-tie-dye-resymetric-vest">
    {% if product.title contains "Green" %}<span class="productcolors green-tie-resort currentcolor"></span>
    {% else %}<span class="productcolors green-tie-resort"></span> 
    {% endif %}</a>  

  {% endif %} 
  {%comment%}SS20 RESORT END{%endcomment%}  
  {%comment%} START SS20 WOMAN {%endcomment%}
  {% comment%} ESSENTIALS UNISEX {%endcomment%}

  {% if product.title contains "Apolo" and product.type == "Longsleeves" and product.tags contains "SS20" or product.tags contains "20ESSENTIAL" %}

  <a href="/collections/women-tops/products/olympian-blue-stripe-apolo-long-sleeve">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>  

  <a href="/collections/women-tops/products/flame-orange-stripe-apolo-longsleeve">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>   

  {% endif %} 
  {% if product.title contains "Captain" and product.type == "Sweaters" and product.tags contains "SS20" or product.tags contains "20ESSENTIAL" %}

  <a href="/collections/sale-women/products/flame-orange-captain-hoody">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/sharp-green-captain-hoody">
    {% if product.title contains "Sharp" %}<span class="productcolors sharp-green currentcolor"></span>
    {% else %}<span class="productcolors sharp-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/ming-green-captain-hoody">
    {% if product.title contains "Ming" %}<span class="productcolors ming-green currentcolor"></span>
    {% else %}<span class="productcolors ming-green"></span> 
    {% endif %}</a>  

  {% endif %}

  {% comment%} END ESSENTIALS UNISEX {%endcomment%}
  {% if product.title contains "Henpa" or product.title contains "Henblai" or product.title contains "Henori" and product.type == "Women Tops" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/patina-green-henpa-t-shirt">
    {% if product.title contains "Henpa" %}<span class="productcolors sharp-green currentcolor"></span>
    {% else %}<span class="productcolors sharp-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/navy-henblai-t-shirt">
    {% if product.title contains "Henblai" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/black-shibori-henori-top">
    {% if product.title contains "Henori" %}<span class="productcolors black-shibori currentcolor"></span>
    {% else %}<span class="productcolors black-shibori"></span> 
    {% endif %}</a>  

  {% endif %}  
  {% if product.title contains "Hova" and product.type == "Women Tops" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/silver-metallic-sharp-green-hova-top">
    {% if product.title contains "Silver" %}<span class="productcolors light-grey currentcolor"></span>
    {% else %}<span class="productcolors light-grey"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/zebra-sharp-green-hova-top">
    {% if product.title contains "Zebra" %}<span class="productcolors zebra currentcolor"></span>
    {% else %}<span class="productcolors zebra"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Frack" and product.type == "Women Jackets" product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/kentucky-blue-frack-tape-jacket">
    {% if product.title contains "Blue" %}<span class="productcolors baby-blue currentcolor"></span>
    {% else %}<span class="productcolors baby-blue"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/misty-rose-frack-tape-jacket">
    {% if product.title contains "Rose" %}<span class="productcolors misty-rose currentcolor"></span>
    {% else %}<span class="productcolors misty-rose"></span> 
    {% endif %}</a>     

  <a href="/collections/sale-women/products/black-tape-logo-frackt-jacket">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/sharp-green-tape-logo-frackt-jacket">
    {% if product.title contains "Green" and product.tags contains "20ESSENTIAL" %}<span class="productcolors sharp-green currentcolor"></span>
    {% else %}<span class="productcolors sharp-green"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Flair" and product.type == "Women Pants" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/kentucky-blue-flair-tape-pants">
    {% if product.title contains "Blue" %}<span class="productcolors baby-blue currentcolor"></span>
    {% else %}<span class="productcolors baby-blue"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/misty-rose-flair-tape-pants">
    {% if product.title contains "Rose" %}<span class="productcolors misty-rose currentcolor"></span>
    {% else %}<span class="productcolors misty-rose"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-tape-logo-flair-pants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Heck" and product.type == "Women Pants" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/grey-pinstripe-heck-pants">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/brown-heck-pants">
    {% if product.title contains "Brown" %}<span class="productcolors brown currentcolor"></span>
    {% else %}<span class="productcolors brown"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Hae" and product.type == "Women Dresses" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/bleach-denim-hae-dress">
    {% if product.title contains "Denim" %}<span class="productcolors bleach-denim currentcolor"></span>
    {% else %}<span class="productcolors bleach-denim"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/blue-croco-hae-dress">
    {% if product.title contains "Blue" %}<span class="productcolors lightblue currentcolor"></span>
    {% else %}<span class="productcolors lightblue"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Hasina" and product.type == "Women Jackets" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/grey-pinstripe-hasina-blazer">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/brown-hasina-blazer">
    {% if product.title contains "Brown" %}<span class="productcolors brown currentcolor"></span>
    {% else %}<span class="productcolors brown"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Hasoly" or product.title contains "Hasmi" and product.type == "Women Tops" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/olympian-blue-hasoly-longsleeve">
    {% if product.title contains "Hasoly" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/misty-lilac-hasmi-longsleeve">
    {% if product.title contains "Hasmi" %}<span class="productcolors lilac currentcolor"></span>
    {% else %}<span class="productcolors lilac"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Hiari" and product.type == "Women Tops" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/black-shibori-hiari-top">
    {% if product.title contains "Shibori" %}<span class="productcolors black-shibori currentcolor"></span>
    {% else %}<span class="productcolors black-shibori"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/dreamy-world-hiari-top">
    {% if product.title contains "Dreamy" %}<span class="productcolors dreamy-world currentcolor"></span>
    {% else %}<span class="productcolors dreamy-world"></span> 
    {% endif %}</a>   

  {% endif %}

  {%comment%} SS20 ESSENTIALS WOMAN {%endcomment%}
  {%unless product.title contains "Hiceblai" or product.title contains "Hicemis" or product.title contains "Hicewhi" %}
    {% if product.title contains "Hice" and product.type == "Women Tops" and product.tags contains "SS20" or product.tags contains "20ESSENTIAL" %}

    <a href="/collections/sale-women/products/black-hice-t-shirt">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>  

    <a href="/collections/sale-women/products/grey-hice-t-shirt">
      {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
      {% else %}<span class="productcolors grey"></span> 
      {% endif %}</a>    

    <a href="/collections/sale-women/products/kentucky-blue-hice-t-shirt">
      {% if product.title contains "Blue" %}<span class="productcolors baby-blue currentcolor"></span>
      {% else %}<span class="productcolors baby-blue"></span> 
      {% endif %}</a>   

    <a href="/collections/sale-women/products/white-hice-t-shirt">
      {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
      {% else %}<span class="productcolors white"></span> 
      {% endif %}</a>   

    {% endif %} 
  {%endunless %}
  {% if product.title contains "Howa" and product.type == "Women Sweaters" and product.tags contains "SS20" or product.tags contains "20ESSENTIAL" %}

  <a href="/collections/sale-women/products/moonbeam-beige-howa-hoody">
    {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
    {% else %}<span class="productcolors beige"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/grey-howa-hoody">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/olympian-blue-howa-hoody">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 

  {% endif %} 

  {% if product.title contains "Hifa Pants" and product.type == "Pants" or product.type == "Women Pants" and product.tags contains "SS20"  %}

  <a href="/collections/sale-women/products/moonbeam-beige-hifa-pants">
    {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
    {% else %}<span class="productcolors beige"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/grey-hifa-pants">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/olympian-blue-hifa-pants">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>   

  {% endif %} 
  
  {% if product.title contains "Hifa" and product.type == "Women Shorts" and product.tags contains "SS20" or product.tags contains "20ESSENTIAL" %}

  <a href="/collections/sale-women/products/moonbeam-beige-hifa-shorts">
    {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
    {% else %}<span class="productcolors beige"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/grey-hifa-shorts">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/olympian-blue-hifa-shorts">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Himbla" or product.title contains "Himpat"  and product.type == "Sweaters" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/black-himbla-sweater">
    {% if product.title contains "Himbla" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/patina-green-himpat-sweater">
    {% if product.title contains "Himpat" %}<span class="productcolors patina-green currentcolor"></span>
    {% else %}<span class="productcolors patina-green"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Heff" and product.type == "Longsleeves" and product.tags contains "SS20" %}

  <a href="/collections/sale-women/products/black-heff-longsleeve">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/white-heff-longsleeve">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Flair" and product.type == "Women Pants" and product.tags contains "SS20" or product.tags contains "20ESSENTIAL" %}

  <a href="/collections/sale-women/products/sharp-green-tape-logo-flair-pants">
    {% if product.title contains "Green" %}<span class="productcolors sharp-green currentcolor"></span>
    {% else %}<span class="productcolors sharp-green"></span> 
    {% endif %}</a>  

  {% endif %}  

  {% if product.title contains "Erib" and product.type == "Women Dresses" and product.tags contains "SS20" or product.tags contains "20ESSENTIAL" or product.tags contains "FW19HOLIDAY" %}

  <a href="/collections/sale-women/products/sharp-green-black-erib-dress">
    {% if product.title == "Sharp Green Black Erib Dress" %}<span class="productcolors sharp-green currentcolor"></span>
    {% else %}<span class="productcolors sharp-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-sharp-green-erib-dress">
    {% if product.title == "Black Sharp Green Erib Dress" %}<span class="productcolors black-sharpgreen currentcolor"></span>
    {% else %}<span class="productcolors black-sharpgreen"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-erib-dress">
    {% if product.title == "Black Erib Dress" and product.tags contains "FW19HOLIDAY" %}<span class="productcolors black-red currentcolor"></span>
    {% else %}<span class="productcolors black-red"></span> 
    {% endif %}</a>   


  {% endif %} 
  {% if product.title contains "Erib" and product.type == "T-shirts" %}

  <a href="/collections/sale-women/products/sharp-green-black-erib-t-shirt">
    {% if product.title == "Sharp Green Black Erib T-Shirt" %}<span class="productcolors sharp-green currentcolor"></span>
    {% else %}<span class="productcolors sharp-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-sharp-green-erib-t-shirt">
    {% if product.title == "Black Sharp Green Erib T-Shirt"  %}<span class="productcolors black-sharpgreen currentcolor"></span>
    {% else %}<span class="productcolors black-sharpgreen"></span> 
    {% endif %}</a>  
  {%endif%}

  {%comment%} END SS20 ESSENTIALS WOMAN {%endcomment%}
  {%comment%} END SS20 WOMAN {%endcomment%}
  {%comment%} FW19 HOLIDAY {%endcomment%}

  {% if product.title contains "Gowa Hoody" and product.type == "Women Sweaters" and product.tags contains "FW19HOLIDAY" %}

  <a href="/collections/sale-women/products/black-gowa-hoody">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/navy-gowa-hoody">
    {% if product.title contains "Navy" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gifa Pants" and product.type == "Women Pants" and product.tags contains "FW19HOLIDAY" %}

  <a href="/collections/sale-women/products/black-gifa-pants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/navy-gifa-pants">
    {% if product.title contains "Navy" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gipo Corduroy Jacket" and product.type == "Women Jackets" and product.tags contains "FW19HOLIDAY" %}

  <a href="/collections/sale-women/products/black-gipo-corduroy-jacket">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/arabian-spice-gipo-corduroy-jacket">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>  

  {% endif %}
  {% comment %} END FW19HOLIDAY{% endcomment %} 
  {% comment %}---- Fall/Winter '19 Collection ---- {% endcomment %}
  
  {% if product.title contains "Gous" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/white-gous-4-t-shirt">
    {% if product.title contains "4" %}<span class="productcolors blue-yellow currentcolor"></span>
    {% else %}<span class="productcolors blue-yellow"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-gous-5-t-shirt">
    {% if product.title contains "5" %}<span class="productcolors black-green currentcolor"></span>
    {% else %}<span class="productcolors black-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-gous-3-t-shirt">
    {% if product.title contains "3" %}<span class="productcolors blue-red currentcolor"></span>
    {% else %}<span class="productcolors blue-red"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-gous-1-t-shirt">
    {% if product.title contains "1" %}<span class="productcolors grey-green currentcolor"></span>
    {% else %}<span class="productcolors grey-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-gous-2-t-shirt">
    {% if product.title contains "2" %}<span class="productcolors pink-blue currentcolor"></span>
    {% else %}<span class="productcolors pink-blue"></span> 
    {% endif %}</a>  

  {% endif %}
  
  {% if product.title contains "Firt" or product.title contains "Girt" and product.type == "Women Pants" %}

  <a href="/collections/sale-women/products/light-blue-firt-pants">
    {% if product.title contains "Light Blue" %}<span class="productcolors light-blue currentcolor"></span>
    {% else %}<span class="productcolors light-blue"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/yellow-grey-girt-pants">
    {% if product.title contains "Yellow" %}<span class="productcolors cyber currentcolor"></span>
    {% else %}<span class="productcolors cyber"></span> 
    {% endif %}</a> 

  {% endif %}

  {% if product.title contains "Gady" and product.type == "Women Pants" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/green-snake-gady-pants">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/purple-snake-gady-pants">
    {% if product.title contains "Purple" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a>  

  {% endif %}
  
  {% if product.title contains "Gorhand" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/white-gorhand-t-shirt">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-gorhand-t-shirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gura" or product.title contains "Gator" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/pumpkin-gura-t-shirt">
    {% if product.title contains "Gura" %}<span class="productcolors brown currentcolor"></span>
    {% else %}<span class="productcolors brown"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-white-tie-dye-gator-t-shirt">
    {% if product.title contains "Gator" %}<span class="productcolors black-white currentcolor"></span>
    {% else %}<span class="productcolors black-white"></span> 
    {% endif %}</a>  

  {% endif %}
  
  {% if product.title contains "Gimbla" or product.title contains "Gimrio" and product.type == "Sweaters" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-gimbla-sweater">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/rio-red-gimrio-sweater">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gante" and product.type == "Jackets" and product.tags contains "FW19"%}

  <a href="/collections/sale-women/products/green-snake-gante-coat">
    {% if product.title contains "Green Snake" %}<span class="productcolors greensnake currentcolor"></span>
    {% else %}<span class="productcolors greensnake"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/purple-reflective-gante-coat">
    {% if product.title contains "Purple" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a> 

  {% endif %}  

  {% if product.title contains "Core Puffer Jacket" and product.type == "Jackets" and product.tags contains "FW19"%}

  <a href="/collections/sale-women/products/black-holographic-core-puffer-jacket">
    {% if product.title contains "Holographic" %}<span class="productcolors holographic currentcolor"></span>
    {% else %}<span class="productcolors holographic"></span> 
    {% endif %}</a>  

  {% endif %} 
  
  {% if product.title contains "Gongor" or product.title contains "Gonbla" and product.type == "Longsleeves" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-yellow-tie-dye-gongor-longsleeve">
    {% if product.title contains "Black Yellow Gongor" %}<span class="productcolors black-yellow currentcolor"></span>
    {% else %}<span class="productcolors black-yellow"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-white-tie-dye-gonbla-longsleeve">
    {% if product.title contains "Black White Gonbla" %}<span class="productcolors black-white currentcolor"></span>
    {% else %}<span class="productcolors black-white"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Grackt" and product.type == "Women Jackets" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-grackt-tape-jacket">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/serenity-blue-grackt-tape-jacket">
    {% if product.title contains "Blue" %}<span class="productcolors pastel-blue currentcolor"></span>
    {% else %}<span class="productcolors pastel-blue"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Glair" and product.type == "Women Pants" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-glair-tape-pants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/serenity-blue-glair-tape-pants">
    {% if product.title contains "Blue" %}<span class="productcolors pastel-blue currentcolor"></span>
    {% else %}<span class="productcolors pastel-blue"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gabla" or product.title contains "Gacrush" and product.type == "Sweaters" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-gabla-hoody">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/grape-gacrush-hoody">
    {% if product.title contains "Grape" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gormy" or product.title contains "Gorcrush" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/blue-gormy-t-shirt">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/grape-gorcrush-t-shirt">
    {% if product.title contains "Grape" %}<span class="productcolors purple currentcolor"></span>
    {% else %}<span class="productcolors purple"></span> 
    {% endif %}</a>  

  {% endif %}
  
  {% if product.title contains "Gorbla" or product.title contains "Gorsulp" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-gorbla-t-shirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/yellow-gorsulp-t-shirt">
    {% if product.title contains "Yellow" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gorpoin" or product.title contains "Gorelly" and product.type == "T-shirts" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/orange-gorpoin-t-shirt">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/green-gorelly-t-shirt">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Geff" and product.type == "Longsleeves" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-geff-longsleeve">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/white-geff-longsleeve">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Tapevest" and product.type == "Jackets" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/midnight-black-tapevest-track-top">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/ocean-blue-tapevest-track-top">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Gasah" and product.type == "Jackets" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-gasah-jacket">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/burgundy-reflective-gasah-jacket">
    {% if product.title contains "Burgundy" %}<span class="productcolors burgundy currentcolor"></span>
    {% else %}<span class="productcolors burgundy"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Guka" and product.type == "Pants" and product.tags contains "FW19" %}

  <a href="/collections/sale-women/products/black-guka-pants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/burgundy-reflective-guka-pants">
    {% if product.title contains "Burgundy" %}<span class="productcolors burgundy currentcolor"></span>
    {% else %}<span class="productcolors burgundy"></span> 
    {% endif %}</a>  

  {% endif %} 

  {% if product.title contains "Liba"and product.type == "Pants" and product.tags contains "FW19"%}

  <a href="/collections/sale-women/products/midnight-black-liba-track-pants">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/ocean-blue-liba-track-pants">
    {% if product.title contains "Blue" %}<span class="productcolors light-blue currentcolor"></span>
    {% else %}<span class="productcolors light-blue"></span> 
    {% endif %}</a>

  {% endif %} 

{% comment %}---- End Fall/Winter '19 Collection ---- {% endcomment %}
{% comment %}---- FW19ESSENTIALS ---- {% endcomment %}
  {% if product.title contains "Polo" and product.type =="Longsleeves" and product.tags contains "NOS" %}

  <a href="/collections/sale-women/products/red-polo-longsleeve">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/green-polo-longsleeve">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a> 

  {% endif %} 
  
  {% if product.title == "White Alia T-Shirt" or product.title == "Black Alia T-Shirt" and product.type == "T-shirts" %}

  <a href="/collections/sale-women/products/black-alia-t-shirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/white-alia-t-shirt">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 

  {% endif %}  


  {% if product.title contains "Alias T-Shirt" and product.type == "T-shirts" %}

  <a href="/collections/sale-women/products/ming-green-alias-t-shirt">
    {% if product.title contains "Green" %}<span class="productcolors ming-green currentcolor"></span>
    {% else %}<span class="productcolors ming-green"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/magenta-purple-alias-t-shirt">
    {% if product.title contains "Purple" %}<span class="productcolors magenta-purple currentcolor"></span>
    {% else %}<span class="productcolors magenta-purple"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/kentucky-blue-alias-t-shirt">
    {% if product.title contains "Blue" %}<span class="productcolors baby-blue currentcolor"></span>
    {% else %}<span class="productcolors baby-blue"></span> 
    {% endif %}</a>

  {% endif %}  

  {% if product.title contains "Aba Sweater" and product.type == "Sweaters" %}

  <a href="/collections/sale-women/products/grey-aba-sweater">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/teal-aba-sweater">
    {% if product.title contains "Teal" %}<span class="productcolors teal currentcolor"></span>
    {% else %}<span class="productcolors teal"></span> 
    {% endif %}</a>  

  {% endif %}

  {% if product.title contains "Alias Hoody" and product.type == "Sweaters" %} 

  <a href="/collections/sale-women/products/black-alias-hoody">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/dark-green-alias-hoody">
    {% if product.title contains "Dark Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a>   

  <a href="/collections/women-sweaters/products/ming-green-alias-hoody">
    {% if product.title contains "Ming Green" %}<span class="productcolors ming-green currentcolor"></span>
    {% else %}<span class="productcolors ming-green"></span> 
    {% endif %}</a>  

  <a href="/collections/women-sweaters/products/magenta-purple-alias-hoody">
    {% if product.title contains "Magenta Purple" %}<span class="productcolors magenta-purple currentcolor"></span>
    {% else %}<span class="productcolors magenta-purple"></span> 
    {% endif %}</a>   

  <a href="/collections/women-sweaters/products/kentucky-blue-alias-hoody">
    {% if product.title contains "Kentucky Blue" %}<span class="productcolors baby-blue currentcolor"></span>
    {% else %}<span class="productcolors baby-blue"></span> 
    {% endif %}</a>   

  {% endif %}   

  {% if product.title contains "Captain" and product.type =="Sweaters" and product.tags contains "Washed"%}

  <a href="/collections/sale-women/products/anthracite-washed-captain-hoody">
    {% if product.title contains "Anthracite" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/blue-washed-captain-hoody">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/burgundy-washed-captain-hoody">
    {% if product.title == "Burgundy Washed Captain Hoody" %}<span class="productcolors burgundy currentcolor"></span>
    {% else %}<span class="productcolors burgundy"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/green-washed-captain-hoody">
    {% if product.title contains "Green" %}<span class="productcolors dark-green currentcolor"></span>
    {% else %}<span class="productcolors dark-green"></span> 
    {% endif %}</a> 

  {% endif %}  

  {% if product.title contains "Captain" and product.type =="Sweaters" and product.tags contains "Main" %}

  <a href="/collections/sale-women/products/black-captain-hoody">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/light-grey-captain-hoody">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/yellow-captain-hoody">
    {% if product.title == "Yellow Captain Hoody" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/dark-green-captain-hoody">
    {% if product.title contains "Green" %}<span class="productcolors dark-green currentcolor"></span>
    {% else %}<span class="productcolors dark-green"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/light-blue-captain-hoody">
    {% if product.title contains "Blue" %}<span class="productcolors light-blue currentcolor"></span>
    {% else %}<span class="productcolors light-blue"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/red-captain-hoody">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/flame-orange-captain-hoody">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/sharp-green-captain-hoody">
    {% if product.title contains "Sharp" %}<span class="productcolors sharp-green currentcolor"></span>
    {% else %}<span class="productcolors sharp-green"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/ming-green-captain-hoody">
    {% if product.title contains "Ming" %}<span class="productcolors ming-green currentcolor"></span>
    {% else %}<span class="productcolors ming-green"></span> 
    {% endif %}</a>  

  {% endif %}   

  {% if product.title contains "Tape Logo Track Pants" and product.type == "Pants" and product.tags contains "FW19ESSENTIALS" %}

  <a href="/collections/sale-women/products/turkish-sea-tape-logo-track-pants">
    {% if product.title contains "Turkish" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/jolly-green-tape-logo-track-pants">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a>

  {% endif %}  

  {% if product.title contains "Tape Logo Track Pants" and product.type == "Pants" and product.tags contains "NOS" %}

  <a href="/collections/sale-women/products/black-tape-logo-track-pants">
    {% if product.title == "Black Tape Logo Track Pants" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/black-red-tape-logo-track-pants">
    {% if product.title contains "Red" %}<span class="productcolors black-red currentcolor"></span>
    {% else %}<span class="productcolors black-red"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/black-yellow-tape-logo-track-pants">
    {% if product.title contains "Yellow" %}<span class="productcolors black-yellow currentcolor"></span>
    {% else %}<span class="productcolors black-yellow"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/bordeaux-tape-logo-track-pants">
    {% if product.title contains "Bordeaux" %}<span class="productcolors bordeaux currentcolor"></span>
    {% else %}<span class="productcolors bordeaux"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/green-tape-logo-track-pants">
    {% if product.title contains "Green" %}<span class="productcolors dark-green currentcolor"></span>
    {% else %}<span class="productcolors dark-green"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/navy-tape-logo-track-pants">
    {% if product.title contains "Navy" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a> 

  {% endif %}  

{% comment %}---- End FW19ESSENTIALS ---- {% endcomment %}  
{% comment %}---- SS19RESORT ---- {% endcomment %}
  {% if product.title contains "Fara Tape Skirt" and product.type == "Women Skirts" and product.tags contains "SS19RESORT" %}

  <a href="/collections/sale-women/products/black-fara-tape-skirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/navy-fara-tape-skirt">
    {% if product.title contains "Navy" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>

  {% endif %}
  
{% comment %}---- END SS19RESORT ---- {% endcomment %}
  {% if product.title contains "Essential" and product.type == "T-shirts" and product.tags contains "Shopping2" %}

  <a href="/collections/sale-women/products/black-essential-t-shirt">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/red-essential-t-shirt">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/blue-essential-t-shirt">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/white-essential-t-shirt">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>   

  {% endif %}

  {% if product.title contains "Essential Sweater" and product.type == "Sweaters" %}

  <a href="/collections/sale-women/products/black-essential-sweater">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/red-essential-sweater">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/blue-essential-sweater">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/grey-essential-sweater">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/white-essential-sweater">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>

  {% endif %}

  {% if product.title contains "Essential Hoody" and product.type == "Sweaters" %}

  <a href="/collections/sale-women/products/black-essential-hoody">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/yellow-essential-hoody">
    {% if product.title contains "Yellow" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/red-essential-hoody">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>    

  <a href="/collections/sale-women/products/blue-essential-hoody">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/grey-essential-hoody">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/pink-essential-hoody">
    {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
    {% else %}<span class="productcolors pink"></span> 
    {% endif %}</a>    

  <a href="/collections/sale-women/products/white-essential-hoody">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 
  {% endif %}

  {% if product.title contains "Essential Fleece Short" and product.type == "Shorts" %}

  <a href="/collections/sale-women/products/black-essential-fleece-short">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/yellow-essential-fleece-short">
    {% if product.title contains "Yellow" %}<span class="productcolors yellow currentcolor"></span>
    {% else %}<span class="productcolors yellow"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/red-essential-fleece-short">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>   

  <a href="/collections/sale-women/products/blue-essential-fleece-short">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/grey-essential-fleece-short">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/pink-essential-fleece-short">
    {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
    {% else %}<span class="productcolors pink"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/white-essential-fleece-short">
    {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 

  {% endif %}

  {% if product.title contains "Essential Coach Jacket" and product.type == "Jackets" %}

  <a href="/collections/sale-women/products/black-essential-coach-jacket">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/red-essential-coach-jacket">
    {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
    {% else %}<span class="productcolors red"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/green-essential-coach-jacket">
    {% if product.title contains "Green" %}<span class="productcolors green currentcolor"></span>
    {% else %}<span class="productcolors green"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/blue-essential-coach-jacket">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>  

  {% endif %}
  
  {% if product.title contains "Cargo Pants" %}

  <a href="/collections/sale-women/products/cargo-pants-black">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/cargo-pants-beige">
    {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
    {% else %}<span class="productcolors beige"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/cargo-pants-grey">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/cargo-pants-navy">
    {% if product.title contains "Navy" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/cargo-pants-olive-green">
    {% if product.title contains "Olive" %}<span class="productcolors dark-green currentcolor"></span>
    {% else %}<span class="productcolors dark-green"></span> 
    {% endif %}</a>

  {% endif %} 
  
  {% if product.title contains "Cargo Coach" %}

  <a href="/collections/sale-women/products/cargo-coach-jacket-black">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>  

  <a href="/collections/sale-women/products/cargo-coach-jacket-beige">
    {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
    {% else %}<span class="productcolors beige"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/cargo-coach-jacket-grey">
    {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
    {% else %}<span class="productcolors grey"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/cargo-coach-jacket-navy">
    {% if product.title contains "Navy" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/cargo-coach-jacket-green">
    {% if product.title contains "Green" %}<span class="productcolors dark-green currentcolor"></span>
    {% else %}<span class="productcolors dark-green"></span> 
    {% endif %}</a> 

  <a href="/collections/sale-women/products/cargo-coach-jacket-bone">
    {% if product.title contains "Bone" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a> 

  {% endif %} 
  
  {% if product.title contains "Liba" and product.tags contains "SS19" %}

  <a href="/collections/sale-women/products/Blue-Liba-Track-Pants">
    {% if product.title contains "Blue" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/Green-Liba-Track-Pants">
    {% if product.title contains "Green" %}<span class="productcolors dark-green currentcolor"></span>
    {% else %}<span class="productcolors dark-green"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/Orange-Liba-Track-Pants">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>

  {% endif %}

  {% if product.title contains "Tapevest" and product.tags contains "SS19" %}

  <a href="/collections/sale-women/products/Blue-Tapevest-Track-Top">
    {% if product.title contains "Blue" %}<span class="productcolors navy currentcolor"></span>
    {% else %}<span class="productcolors navy"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/Green-Tapevest-Track-Top">
    {% if product.title contains "Green" %}<span class="productcolors dark-green currentcolor"></span>
    {% else %}<span class="productcolors dark-green"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/Lilac-Tapevest-Track-Top">
    {% if product.title contains "Lilac" %}<span class="productcolors lilac currentcolor"></span>
    {% else %}<span class="productcolors lilac"></span> 
    {% endif %}</a>

  <a href="/collections/sale-women/products/Orange-Tapevest-Track-Top">
    {% if product.title contains "Orange" %}<span class="productcolors orange currentcolor"></span>
    {% else %}<span class="productcolors orange"></span> 
    {% endif %}</a>

  {% endif %}

</div>