<div class="inlinecolors">
  {% if product.title contains "Bucket" and product.type == "Kids Accessories" and product.tags contains "SS20KIDS"%}
  <a href="/collections/baby-line/products/white-baby-logo-bucket-hat">
    {% if product.title contains "Patina" %}<span class="productcolors white currentcolor"></span>
    {% else %}<span class="productcolors white"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/misty-rose-baby-logo-bucket-hat">
    {% if product.title contains "Misty" %}<span class="productcolors misty-rose currentcolor"></span>
    {% else %}<span class="productcolors misty-rose"></span> 
    {% endif %}</a>
  {% endif %} 
  {% if product.title contains "Polo" and product.type == "Kids Tops" and product.tags contains "SS20KIDS"%}
  <a href="/collections/baby-line/products/patina-green-kids-polo-longsleeve">
    {% if product.title contains "Patina" %}<span class="productcolors patina-blue currentcolor"></span>
    {% else %}<span class="productcolors patina-blue"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/red-kids-polo-longsleeve">
    {% if product.title contains "Red" %}<span class="productcolors red-blue currentcolor"></span>
    {% else %}<span class="productcolors red-blue"></span> 
    {% endif %}</a>
  {% endif %} 
  {% if product.title contains "Romper" and product.type == "Rompers" %}
  <a href="/collections/baby-line/products/black-alias-romper">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/misty-rose-alias-romper">
    {% if product.title contains "Misty" %}<span class="productcolors misty-rose currentcolor"></span>
    {% else %}<span class="productcolors misty-rose"></span> 
    {% endif %}</a>
  {% endif %} 
  {% if product.title contains "Alias Hoody" and product.type == "Kids Sweaters" and product.tags contains "SS20KIDS"%}
  <a href="/collections/baby-line/products/black-kids-alias-hoody">
    {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
    {% else %}<span class="productcolors black"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/misty-rose-kids-alias-hoody">
    {% if product.title contains "Misty" %}<span class="productcolors misty-rose currentcolor"></span>
    {% else %}<span class="productcolors misty-rose"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/patina-green-kids-alias-hoody">
    {% if product.title contains "Patina" %}<span class="productcolors patina-green currentcolor"></span>
    {% else %}<span class="productcolors patina-green"></span> 
    {% endif %}</a>
  {% endif %} 
  {% if product.title contains "Alias" and product.type == "Kids Tops" and product.tags contains "SS20KIDS" %}
  <a href="/collections/baby-line/products/misty-rose-kids-alias-t-shirt">
    {% if product.title contains "Misty" %}<span class="productcolors misty-rose currentcolor"></span>
    {% else %}<span class="productcolors misty-rose"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/patina-green-kids-alias-t-shirt">
    {% if product.title contains "Patina" %}<span class="productcolors patina-green currentcolor"></span>
    {% else %}<span class="productcolors patina-green"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/olympian-blue-kids-alias-t-shirt">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %}</a>
  {% endif %} 
  {% if product.title contains "Logo" and product.type == "Kids Pants" %}
  <a href="/collections/baby-line/products/misty-rose-kids-tape-logo-track-pants">
    {% if product.title contains "Misty" %}<span class="productcolors misty-rose currentcolor"></span>
    {% else %}<span class="productcolors misty-rose"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/patina-green-kids-tape-logo-track-pants">
    {% if product.title contains "Patina" %}<span class="productcolors patina-green currentcolor"></span>
    {% else %}<span class="productcolors patina-green"></span> 
    {% endif %}</a>
  <a href="/collections/baby-line/products/olympian-blue-kids-tape-logo-track-pants">
    {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
    {% else %}<span class="productcolors blue"></span> 
    {% endif %} 
    {% endif %} 
    {% if product.title contains "Store" and product.type == "Kids Tops" and product.tags contains "SS20KIDS" %}
    <a href="/collections/baby-line/products/black-kids-store-t-shirt">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/white-kids-store-t-shirt">
      {% if product.title contains "White" %}<span class="productcolors white currentcolor"></span>
      {% else %}<span class="productcolors white"></span> 
      {% endif %}</a>
    {% endif %} 
    {% if product.title contains "Swim Shorts" and product.type == "Kids Swimwear" and product.tags contains "SS20KIDS" %}
    <a href="/collections/baby-line/products/olympian-blue-kids-swim-shorts">
      {% if product.title contains "Blue" %}<span class="productcolors blue currentcolor"></span>
      {% else %}<span class="productcolors blue"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/patina-green-kids-swim-shorts">
      {% if product.title contains "Patina" %}<span class="productcolors patina-green currentcolor"></span>
      {% else %}<span class="productcolors patina-green"></span> 
      {% endif %}</a>
    {% endif %} 
    {% if product.title contains "Cargo Shorts" and product.type == "Kids Pants" and product.tags contains "SS20KIDS"%}
    <a href="/collections/baby-line/products/black-kids-cargo-shorts">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/beige-kids-cargo-shorts">
      {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
      {% else %}<span class="productcolors beige"></span> 
      {% endif %}</a>
    {% endif %} 
  {%comment%} New kids launch end  {%endcomment%}
    {% if product.title contains "Alias Sweater" and product.type == "Kids Sweaters"%}
    <a href="/collections/baby-line/products/black-kids-alias-sweater">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/grey-kids-alias-sweater">
      {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
      {% else %}<span class="productcolors grey"></span> 
      {% endif %}</a>
    <a href="/products/baby-blue-kids-alias-sweater">
      {% if product.title contains "Blue" %}<span class="productcolors light-blue currentcolor"></span>
      {% else %}<span class="productcolors light-blue"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/red-kids-alias-sweater">
      {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
      {% else %}<span class="productcolors red"></span> 
      {% endif %}</a>
    {% endif %} 
    {% if product.title contains "Captain" and product.title contains "Kids" %}
    <a href="/collections/baby-line/products/black-kids-captain-hoody">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/grey-kids-captain-hoody">
      {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
      {% else %}<span class="productcolors grey"></span> 
      {% endif %}</a>
    {% endif %} 
    {% if product.title contains "Logo Track" and product.type == "Kids Pants" %}
    <a href="/collections/baby-line/products/black-kids-tape-logo-track-pants">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/bordeaux-kids-tape-logo-track-pants">
      {% if product.title contains "Bordeaux" %}<span class="productcolors red currentcolor"></span>
      {% else %}<span class="productcolors red"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/pink-kids-tape-logo-track-pants">
      {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
      {% else %}<span class="productcolors pink"></span> 
      {% endif %}</a>
    {% endif %}
    {% if product.title contains "Alias" and product.type == "Kids Pants" %}
    <a href="/collections/baby-line/products/black-kids-alias-sweatpants">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/misty-rose-kids-alias-sweatpants">
      {% if product.title contains "Misty" %}<span class="productcolors misty-rose currentcolor"></span>
      {% else %}<span class="productcolors misty-rose"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/grey-kids-alias-sweatpants">
      {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
      {% else %}<span class="productcolors grey"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/red-kids-alias-sweatpants">
      {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
      {% else %}<span class="productcolors red"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/baby-blue-kids-alias-sweatpants">
      {% if product.title contains "Blue" %}<span class="productcolors baby-blue currentcolor"></span>
      {% else %}<span class="productcolors baby-blue"></span> 
      {% endif %}</a>
    {% endif %}
    {% if product.title contains "Cargo Pants" and product.type == "Kids Pants" %}
    <a href="/collections/baby-line/products/black-kids-cargo-pants">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/grey-kids-cargo-pants">
      {% if product.title contains "Grey" %}<span class="productcolors grey currentcolor"></span>
      {% else %}<span class="productcolors grey"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/beige-kids-cargo-pants">
      {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
      {% else %}<span class="productcolors beige"></span> 
      {% endif %}</a>
    {% endif %}
    {% if product.title contains "Captain" and product.title contains "Kids" %}
    <a href="/collections/baby-line/products/blue-baby-captain-hoody">
      {% if product.title contains "Blue" %}<span class="productcolors light-blue currentcolor"></span>
      {% else %}<span class="productcolors light-blue"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/red-baby-captain-hoody">
      {% if product.title contains "Red" %}<span class="productcolors red currentcolor"></span>
      {% else %}<span class="productcolors red"></span> 
      {% endif %}</a>
    {% endif %} 
    {% if product.title contains "Shield Logo" and product.type == "Kids Pants" %}
    <a href="/collections/baby-line/products/blue-baby-shield-logo-pants">
      {% if product.title contains "Blue" %}<span class="productcolors light-blue currentcolor"></span>
      {% else %}<span class="productcolors light-blue"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/beige-baby-shield-logo-pants">
      {% if product.title contains "Beige" %}<span class="productcolors beige currentcolor"></span>
      {% else %}<span class="productcolors beige"></span> 
      {% endif %}</a>
    {% endif %}
    {% if product.title contains "Arc Logo Romper" %}
    <a href="/collections/baby-line/products/black-arc-logo-romper">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/pink-pattern-arc-logo-romper">
      {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
      {% else %}<span class="productcolors pink"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/striped-arc-logo-romper">
      {% if product.title contains "Striped" %}<span class="productcolors baby-striped currentcolor"></span>
      {% else %}<span class="productcolors baby-striped"></span> 
      {% endif %}</a>
    {% endif %}
    {% if product.title contains "Longsleeve Romper" %}
    <a href="/collections/baby-line/products/black-shield-longsleeve-romper">
      {% if product.title contains "Black" %}<span class="productcolors black currentcolor"></span>
      {% else %}<span class="productcolors black"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/striped-shield-longsleeve-romper">
      {% if product.title contains "Striped" %}<span class="productcolors baby-striped currentcolor"></span>
      {% else %}<span class="productcolors baby-striped"></span> 
      {% endif %}</a>
    {% endif %}
    {% if product.title contains "Bib" %}
    <a href="/collections/baby-line/products/pink-pattern-shield-logo-bib">
      {% if product.title contains "Pink" %}<span class="productcolors pink currentcolor"></span>
      {% else %}<span class="productcolors pink"></span> 
      {% endif %}</a>
    <a href="/collections/baby-line/products/striped-shield-logo-bib">
      {% if product.title contains "Striped" %}<span class="productcolors baby-striped currentcolor"></span>
      {% else %}<span class="productcolors baby-striped"></span> 
      {% endif %}</a>
    {% endif %}
</div>