<form action="https://manage.kmail-lists.com/subscriptions/subscribe?a=MViDJp&g=LyChdb" method="post" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
  <input type="email" value="" {% if settings.enable_multilang %}data-translate="general.newsletter_form.newsletter_text" translate-item="placeholder"{%endif%}  placeholder="{{ 'general.newsletter_form.newsletter_text' | t }}" name="EMAIL" class="input-group-field" aria-label="Email Address">
  <span class="input-group-btn">
    <input type="submit" class="btn" value="{{ 'general.newsletter_form.submit' | t }}" name="subscribe" {% if settings.enable_multilang %}data-translate="general.newsletter_form.submit"{% endif %}>
  </span>
</form>