<div class="col-xs-3 sidebar collection-sidebar">
<h2 class="servicesidebar"><a class="currentshop" href="/collections/all"><span class="arrow">/</span>Go back to all</a></h2>
<br>
  <h2 class="servicesidebar"><u><a class="currentshop" href="/collections/ss18-men">Shop SS18 Collection</a></u></h2>
<br>
  {%- include 'collection-sidebar-shop-by-blocks-dp' -%}
</div>