{%- assign featuredBlogs = 'editors-pick,daily-life,icons,inspirtion,friends,retailers,releases' | split:',' -%}
{%- assign featuredArticles = false -%}
{%- for featuredBlog in featuredBlogs -%}
{%- if blogs[featuredBlog].articles -%}
{%- if featuredArticles -%}
{%- assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles -%}
{%- else -%}
{%- assign featuredArticles = blogs[featuredBlog].articles -%}
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- if featuredArticles -%}
{%- assign featuredArticles = featuredArticles | sort:'published_at' | reverse -%}
{%- for article in featuredArticles limit:3 -%}        
<li class="featured-blog-articles"><a class="article-featured-image" href="{{ article.url }}">
  {{ article | img_url: '1024x1024' | img_tag: article.title }}         
  <div class="featured-article-title"><h2 class="servicesidebar">{{ article.title }}</h2>
  </div></a></li>
{%- endfor -%}
{%- endif -%}