<div class="sizechart-model-sizes">
  <div class="sizechart-h2">Model measurements:</div>
  {%- if product.tags contains 'Cassey' and collection.handle contains 'women' or product.type contains "Women"-%}    
  <span class="fabric">Model size:</span>Extra Small<br>
  <span class="fabric">Model height:</span>170cm<br>
  <span class="fabric">Model bust:</span>80cm<br>
  <span class="fabric">Model waist:</span>58.5cm<br>
  <span class="fabric">Model hips:</span>98cm<br>
  <span class="fabric">Model dress:</span>EU 34-36
  {%- elsif product.tags contains 'Eyes' and collection.handle contains 'women' or product.type contains "Women" -%}
  <span class="fabric">Model size:</span>Extra Small<br>
  <span class="fabric">Model height:</span>174cm<br>
  <span class="fabric">Model bust:</span>79cm<br>
  <span class="fabric">Model waist:</span>61cm<br>
  <span class="fabric">Model hips:</span>89cm<br>
  <span class="fabric">Model dress:</span>EU 34-36    
  {%- elsif product.tags contains 'Summer' and collection.handle contains 'women' or product.type contains "Women" -%}
  <span class="fabric">Model size:</span>Small<br>
  <span class="fabric">Model height:</span>178cm<br>
  <span class="fabric">Model bust:</span>78cm<br>
  <span class="fabric">Model waist:</span>60cm<br>
  <span class="fabric">Model hips:</span>89cm<br>
  <span class="fabric">Model dress:</span>EU 34-36    
  {%- elsif product.tags contains 'Fatdwa' and collection.handle contains 'women' or product.type contains "Women" -%}
  <span class="fabric">Model size:</span>Extra Small<br>
  <span class="fabric">Model height:</span>172cm<br>
  <span class="fabric">Model bust:</span>73cm<br>
  <span class="fabric">Model waist:</span>57cm<br>
  <span class="fabric">Model hips:</span>89cm<br>
  <span class="fabric">Model dress:</span>EU 34-36    
  {%- elsif product.tags contains 'Helene' and collection.handle contains 'women' or product.type contains "Women" -%}
  <span class="fabric">Model size:</span>Small<br>
  <span class="fabric">Model height:</span>177cm<br>
  <span class="fabric">Model bust:</span>80cm<br>
  <span class="fabric">Model waist:</span>58cm<br>
  <span class="fabric">Model hips:</span>86cm<br>
  <span class="fabric">Model dress:</span>EU 34-36    
  {%- elsif product.tags contains 'Georgia' and collection.handle contains 'women' or product.type contains "Women" -%}
  <span class="fabric">Model size:</span>Extra Small<br>
  <span class="fabric">Model height:</span>169cm<br>
  <span class="fabric">Model bust:</span>77cm<br>
  <span class="fabric">Model waist:</span>61cm<br>
  <span class="fabric">Model hips:</span>86cm<br>
  <span class="fabric">Model dress:</span>EU 34-36    
  {%- elsif product.tags contains 'Cherif' -%} 
  This model is 189cm / 6'25" and wearing a size Medium.      
  {%- elsif product.tags contains 'Jeremiah' -%} 
  This model is 187.5cm / 6'2" and wearing a size Medium. 
  {%- elsif product.tags contains 'Ottawa' -%} 
  This model is 189cm / 6'25" and wearing a size Medium.  
  {%- elsif product.tags contains 'Cheikh' -%} 
  This model is 185cm / 6'1" and wearing a size Medium.  
  {%- elsif product.tags contains 'Fatou' -%} 
  <span class="fabric">Model size:</span>Small<br>
  <span class="fabric">Model height:</span>177cm<br>
  <span class="fabric">Model bust:</span>83cm<br>
  <span class="fabric">Model waist:</span>62cm<br>
  <span class="fabric">Model hips:</span>90cm 
  {%- elsif product.tags contains 'Adil' -%} 
  <span class="fabric">Model size:</span>Medium<br>
  <span class="fabric">Model height:</span>188cm<br>
  <span class="fabric">Model chest:</span>96cm<br>
  <span class="fabric">Model waist:</span>76cm<br>
  <span class="fabric">Model hips:</span>93cm
  {%- elsif product.tags contains 'Bruno' -%} 
  <span class="fabric">Model size:</span>Medium<br>
  <span class="fabric">Model height:</span>189cm<br>
  <span class="fabric">Model bust:</span>97cm<br>
  <span class="fabric">Model waist:</span>77cm<br>
  <span class="fabric">Model hips:</span>99cm  
  {%- elsif product.tags contains 'Tom' -%} 
  <span class="fabric">Model size:</span>Medium<br>
  <span class="fabric">Model height:</span>188cm<br>
  <span class="fabric">Model bust:</span>96cm<br>
  <span class="fabric">Model waist:</span>80cm<br>
  <span class="fabric">Model hips:</span>98cm            
  {%- elsif product.tags contains 'Mitchell' -%} 
  <span class="fabric">Model size:</span>Medium<br>
  <span class="fabric">Model height:</span>183cm<br>
  <span class="fabric">Model chest:</span>86cm<br>
  <span class="fabric">Model waist:</span>71cm<br>
  <span class="fabric">Model hips:</span>94cm 
  {%- elsif product.tags contains 'Sakua' -%} 
  <span class="fabric">Model size:</span>Medium<br>
  <span class="fabric">Model height:</span>188cm<br>
  <span class="fabric">Model chest:</span>94cm<br>
  <span class="fabric">Model waist:</span>71cm<br>
  <span class="fabric">Model hips:</span>91cm           
  {%- elsif product.tags contains 'Evandro' -%} 
  <span class="fabric">Model size:</span>Medium<br>
  <span class="fabric">Model height:</span>190cm<br>
  <span class="fabric">Model chest:</span>92cm<br>
  <span class="fabric">Model waist:</span>74cm<br>
  <span class="fabric">Model hips:</span>95cm 
  {%- elsif product.tags contains 'Nicholas' -%} 
  <span class="fabric">Model size:</span>Medium<br>
  <span class="fabric">Model height:</span>187cm<br>
  <span class="fabric">Model chest:</span>94cm<br>
  <span class="fabric">Model waist:</span>79cm<br>
  <span class="fabric">Model hips:</span>92cm 
  {%- elsif product.tags contains 'Ronel' -%} 
  <span class="fabric">Model size:</span>Medium<br>
  <span class="fabric">Model height:</span>187cm<br>
  <span class="fabric">Model chest:</span>93cm<br>
  <span class="fabric">Model waist:</span>80cm<br>
  <span class="fabric">Model hips:</span>97cm    
  {%- elsif collection.handle contains 'accessories' -%}
  One size fits all. This means that "one size" caps, beanies, bags and other accessories will generally fit everyone. 
  {%- else -%}
  This model is 185cm / 6'1" and wearing a size Medium.  
  {%- endif -%}
</div> 