{%- if product.tags contains 'Cassey' and collection.handle contains 'women' or product.type contains "Women" -%}   
<span class="fabric">Model size:</span>Extra Small<br>
<span class="fabric">Model height:</span>170cm<br>
<span class="fabric">Model bust:</span>80cm<br>
<span class="fabric">Model waist:</span>58.5cm<br>
<span class="fabric">Model hips:</span>98cm<br>
<span class="fabric">Model dress:</span>EU 34-36
{%- elsif product.tags contains 'Eyes' and collection.handle contains 'women' or product.type contains "Women" -%}
<span class="fabric">Model size:</span>Extra Small<br>
<span class="fabric">Model height:</span>174cm<br>
<span class="fabric">Model bust:</span>79cm<br>
<span class="fabric">Model waist:</span>61cm<br>
<span class="fabric">Model hips:</span>89cm<br>
<span class="fabric">Model dress:</span>EU 34-36      
{%- elsif product.tags contains 'Summer' and collection.handle contains 'women' or product.type contains "Women" -%}
<span class="fabric">Model size:</span>Small<br>
<span class="fabric">Model height:</span>178cm<br>
<span class="fabric">Model bust:</span>78cm<br>
<span class="fabric">Model waist:</span>60cm<br>
<span class="fabric">Model hips:</span>89cm<br>
<span class="fabric">Model dress:</span>EU 34-36
{%- elsif product.tags contains 'Fatdwa' and collection.handle contains 'women' or product.type contains "Women" -%}
<span class="fabric">Model size:</span>Extra Small<br>
<span class="fabric">Model height:</span>172cm<br>
<span class="fabric">Model bust:</span>73cm<br>
<span class="fabric">Model waist:</span>57cm<br>
<span class="fabric">Model hips:</span>89cm<br>
<span class="fabric">Model dress:</span>EU 34-36
{%- elsif product.tags contains 'Helene' and collection.handle contains 'women' or product.type contains "Women" -%}
<span class="fabric">Model size:</span>Small<br>
<span class="fabric">Model height:</span>177cm<br>
<span class="fabric">Model bust:</span>80cm<br>
<span class="fabric">Model waist:</span>58cm<br>
<span class="fabric">Model hips:</span>86cm<br>
<span class="fabric">Model dress:</span>EU 34-36
{%- elsif product.tags contains 'Georgia' and collection.handle contains 'women' or product.type contains "Women" -%}
This model is 170cm / 5'7" tall and wearing a size&nbsp;      
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small
{%- elsif product.tags contains 'Zoe' and collection.handle contains 'women' or product.type contains "Women" -%}
This model is 179cm / 5'10.5" tall and wearing a size&nbsp;
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small
{%- elsif product.tags contains 'Liz' and collection.handle contains 'women' or product.type contains "Women" -%}
This model is 174cm / 5'8.5" tall and wearing a size&nbsp; 
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small      
{%- elsif product.tags contains 'Exaucee' and collection.handle contains 'women' or product.type contains "Women" -%}
This model is 177cm / 5'9.5" tall and wearing a size&nbsp;      
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small      
{%- elsif product.tags contains 'Sabah' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 180cm / 5'11" tall and wearing a size&nbsp;       
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small  
{%- elsif product.tags contains 'Alyssa' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 178cm / 5'10" tall and wearing a size&nbsp;       
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small  
{%- elsif product.tags contains 'Ruth' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 176cm / 5'9" tall and wearing a size&nbsp;       
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small

{%- elsif product.tags contains 'Sarah' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 175cm / 5'9" tall and wearing a size&nbsp;       
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small

{%- elsif product.tags contains 'Nikki' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 170cm / 5'7" tall and wearing a size&nbsp;       
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small  

{%- elsif product.tags contains 'Candice' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 175cm / 5'9" and wearing a size Small.
{%- elsif product.tags contains 'Lynca' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 178cm / 5'1" tall and wearing a size&nbsp;       
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small  
{%- elsif product.tags contains 'Marie-Ange' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 178cm / 5'1" tall and wearing a size&nbsp;       
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small 
{%- elsif product.tags contains 'Souda' and collection.handle contains 'women' or product.type contains "Women" -%} 
This model is 166cm / 5'45" tall and wearing a size&nbsp;       
{%- if product.tags contains 'UNISEX' -%}
Extra&nbsp;
{%- endif -%} 
Small 

{%- elsif product.tags contains 'Jairo' -%} 
This model is 188cm / 6'2" tall and wearing a size Medium.
{%- elsif product.title contains 'Béton Ciré' -%}
{%- if product.title contains "Miki" -%}      
<span class="fabric"> S/M : </span> 56 cm to 59 cm circumference<br>
<span class="fabric">L/XL : </span>60 cm to 63 cm circumference      
{%- else -%}      
<span class="fabric"> S/M : </span> 57 cm to 58 cm circumference<br>
<span class="fabric">L/XL : </span>58 cm to 59 cm circumference      
{%- endif -%}
{%- elsif product.tags contains 'Destiny' -%} 
This model is 189cm / 6'2" tall and wearing a size Medium. 
{%- elsif product.tags contains 'Seck' -%} 
This model is 184cm / 6'0.5" tall and wearing a size Medium.  
{%- elsif product.tags contains 'Anis' -%} 
This model is 191cm / 6'3" tall and wearing a size Medium.  
{%- elsif product.tags contains 'Cherif' -%} 
This model is 189cm / 6'25" and wearing a size Medium.  
{%- elsif product.tags contains 'Seth' -%} 
This model is 185cm / 6'1" and wearing a size Medium. 
{%- elsif product.tags contains 'Jeremiah' -%} 
This model is 187.5cm / 6'2" and wearing a size Medium. 
{%- elsif product.tags contains 'Ottawa' -%} 
This model is 189cm / 6'25" and wearing a size Medium.         
{%- elsif product.tags contains 'Brahim' -%} 
This model is 183cm / 6' and wearing a size Medium.  
{%- elsif product.tags contains 'Cheikh' -%} 
This model is 185cm / 6'1" and wearing a size Medium.   
{%- elsif product.tags contains 'Ibrahima' -%} 
This model is 185cm / 6'1" and wearing a size Medium. 
{%- elsif product.tags contains 'Sola' -%} 
This model is 187cm / 6'15" and wearing a size Medium.  
{%- elsif product.tags contains 'Salif' -%} 
This model is 184cm / 6'0.5" and wearing a size Medium.
{%- elsif product.tags contains 'Jiby' -%} 
This model is 191cm / 6'2.5" and wearing a size Medium. 
{%- elsif product.tags contains 'Karim' -%} 
This model is 176 cm and wearing a size Medium.  
{%- elsif product.tags contains 'Mamadou' -%} 
This model is 182 cm and wearing a size Medium.   
{%- elsif product.tags contains 'Jayh' -%} 
This model is 187 cm and wearing a size Medium.
{%- elsif product.tags contains 'Jemal' -%} 
This model is 184cm / 6'0.5" and wearing a size Medium. 
{%- elsif product.title contains 'Reslider' -%}
True to size. 
{%- elsif product.tags contains 'Joey' -%} 
This model is 168cm / 5'6" and wearing a size Small.
{%- elsif product.tags contains 'Sven' -%} 
This model is 170cm / 5'7" and wearing a size Medium.
{%- elsif product.tags contains 'Tobi' -%} 
This model is 184cm / 6'0" and wearing a size Medium.
{%- elsif product.tags contains 'Romeo' -%} 
This model is 180 cm / 5'11" and wearing a size Medium.
{%- elsif product.tags contains 'Shailona' -%} 
This model is 174cm / 5'8" and wearing a size Medium.
{%- elsif product.tags contains 'Keke' -%} 
This model is 173cm / 5'8" and wearing a size Medium.
{%- elsif product.tags contains 'Fao' -%} 
This model is 168cm / 5'6" and wearing a size Medium.
{%- elsif product.tags contains 'Fatou' -%} 
<span class="fabric">Model size:</span>Small<br>
<span class="fabric">Model height:</span>177cm<br>
<span class="fabric">Model bust:</span>83cm<br>
<span class="fabric">Model waist:</span>62cm<br>
<span class="fabric">Model hips:</span>90cm 
{%- elsif product.tags contains 'Adil' -%}
<span class="fabric">Model size:</span>Medium<br>
<span class="fabric">Model height:</span>188cm<br>
<span class="fabric">Model chest:</span>96cm<br>
<span class="fabric">Model waist:</span>76cm<br>
<span class="fabric">Model hips:</span>93cm
{%- elsif product.tags contains 'Bruno' -%} 
<span class="fabric">Model size:</span>Medium<br>
<span class="fabric">Model height:</span>189cm<br>
<span class="fabric">Model bust:</span>97cm<br>
<span class="fabric">Model waist:</span>77cm<br>
<span class="fabric">Model hips:</span>99cm 
{%- elsif product.tags contains 'Tom' -%} 
<span class="fabric">Model size:</span>Medium<br>
<span class="fabric">Model height:</span>188cm<br>
<span class="fabric">Model bust:</span>96cm<br>
<span class="fabric">Model waist:</span>80cm<br>
<span class="fabric">Model hips:</span>98cm  
{%- elsif product.tags contains 'Mitchell' -%} 
<span class="fabric">Model size:</span>Medium<br>
<span class="fabric">Model height:</span>183cm<br>
<span class="fabric">Model chest:</span>86cm<br>
<span class="fabric">Model waist:</span>71cm<br>
<span class="fabric">Model hips:</span>94cm 
{%- elsif product.tags contains 'Sakua' -%} 
<span class="fabric">Model size:</span>Medium<br>
<span class="fabric">Model height:</span>188cm<br>
<span class="fabric">Model chest:</span>94cm<br>
<span class="fabric">Model waist:</span>71cm<br>
<span class="fabric">Model hips:</span>91cm 
{%- elsif product.tags contains 'Evandro' -%} 
<span class="fabric">Model size:</span>Medium<br>
<span class="fabric">Model height:</span>190cm<br>
<span class="fabric">Model chest:</span>92cm<br>
<span class="fabric">Model waist:</span>74cm<br>
<span class="fabric">Model hips:</span>95cm 
{%- elsif product.tags contains 'Nicholas' -%} 
<span class="fabric">Model size:</span>Medium<br>
<span class="fabric">Model height:</span>187cm<br>
<span class="fabric">Model chest:</span>94cm<br>
<span class="fabric">Model waist:</span>79cm<br>
<span class="fabric">Model hips:</span>92cm 
{%- elsif product.tags contains 'Ronel' -%} 
<span class="fabric">Model size:</span>Medium<br>
<span class="fabric">Model height:</span>187cm<br>
<span class="fabric">Model chest:</span>93cm<br>
<span class="fabric">Model waist:</span>80cm<br>
<span class="fabric">Model hips:</span>97cm
{%- elsif product.type == "Kids Bib" -%}
<span class="fabric">Size 1:</span>3-12 months<br>
<span class="fabric">Size 2:</span>12-36 months
{%- elsif product.type contains "Kids Sweaters" or product.type contains "Kids Pants" or product.type contains "Kids Rompers" or product.type contains "Kids Tops" -%}
<span class="fabric">Size 68:</span>3-6 months<br>
<span class="fabric">Size 74:</span>6-9 months<br>
<span class="fabric">Size 80:</span>9-12 months<br>
<span class="fabric">Size 86:</span>12-18 months<br>
<span class="fabric">Size 92:</span>18-24 months<br>
<span class="fabric">Size 92/98:</span>2-3 years<br>
<span class="fabric">Size 98/104:</span>3-4 years<br>
<span class="fabric">Size 104/110:</span>4-5 years<br>
<span class="fabric">Size 110/116:</span>5-6 years
{%- elsif product.title contains 'Black Gee Bag' -%}
<span class="fabric">Product width:</span>20cm<br>
<span class="fabric">Product height:</span>25cm<br>
<span class="fabric">Strap length:</span>75-150cm (adjustable)
{%- elsif product.title contains 'Habder Belt' -%}
<span class="fabric">Product width:</span>4cm<br>
<span class="fabric">Product height:</span>119cm
{%- elsif product.title contains 'Habi' -%}
<span class="fabric">Product width:</span>28cm<br>
<span class="fabric">Product height:</span>16,5cm
{%- elsif product.title contains 'Hally' -%}
<span class="fabric">Product width:</span>10,5cm<br>
<span class="fabric">Product height:</span>10,5cm
{%- elsif product.title contains 'Hamea' -%}
<span class="fabric">Product width:</span>20cm<br>
<span class="fabric">Product height:</span>15cm
{%- elsif product.title contains 'Hapack' -%}
<span class="fabric">Product width:</span>37cm<br>
<span class="fabric">Product height:</span>46cm
{%- elsif product.title contains 'Harec' -%}
<span class="fabric">Product width:</span>21,5cm<br>
<span class="fabric">Product height:</span>17cm
{%- elsif product.title contains 'Hatiny' -%}
<span class="fabric">Product width:</span>24cm<br>
<span class="fabric">Product height:</span>19cm
{%- elsif product.title contains 'Heach' -%}
<span class="fabric">Product width:</span>57,5cm<br>
<span class="fabric">Product height:</span>41cm
{%- elsif product.title contains 'Hee' -%}
<span class="fabric">Product width:</span>22cm<br>
<span class="fabric">Product height:</span>27cm
{%- elsif product.title contains 'Hella' -%}
<span class="fabric">Bag 1</span><br>
<span class="fabric">Product width:</span>16cm<br>
<span class="fabric">Product height:</span>38cm <br><br>        
<span class="fabric">Bag 2</span><br>
<span class="fabric">Product width:</span>16cm<br>
<span class="fabric">Product height:</span>13cm
{%- elsif product.title contains 'Hezup' -%}
<span class="fabric">Product width:</span>24cm<br>
<span class="fabric">Product height:</span>20,5cm
{%- elsif product.title contains 'Honty' -%}
<span class="fabric">Product width:</span>40cm<br>
<span class="fabric">Product height:</span>45cm
{%- elsif product.title contains 'Humini' -%}
<span class="fabric">Product width:</span>20cm<br>
<span class="fabric">Product height:</span>24cm      
{%- elsif product.title contains 'Mask' -%}
<span class="fabric">Product width:</span>22cm<br>
<span class="fabric">Product length:</span>12cm      
{%- elsif product.title contains 'Béton Ciré' -%}
<span class="fabric">Product width:</span>22cm<br>
<span class="fabric">Product length:</span>12cm
{%- elsif product.title contains 'Yellow Checked Gonty Tote Bag' -%}
<span class="fabric">Product width:</span>42cm<br>
<span class="fabric">Product height:</span>45cm<br>
<span class="fabric">Extended lining:</span>18cm<br>
<span class="fabric">Strap length:</span>55cm
{%- elsif product.title contains 'Yellow Checked Gisher Hat' -%}
<span class="fabric">Product diameter:</span>57cm<br>
<span class="fabric">Product height:</span>8.5cm
{%- elsif product.title contains 'Geme Belt' -%}
<span class="fabric">Product length:</span>150cm
{%- elsif product.title contains 'Gabder Belt' -%}
<span class="fabric">Product length:</span>125cm
{%- elsif product.title contains 'Black Essential Belt' -%}
<span class="fabric">Product length:</span>137.5cm
{%- elsif product.title contains 'Black Gouch Bag' -%}
<span class="fabric">Product height:</span>15cm
{%- elsif product.title contains 'Black Classic Waist Pack V2' -%}
<span class="fabric">Product width:</span>32cm<br>
<span class="fabric">Product height:</span>14cm<br>
<span class="fabric">Strap length:</span>50-100cm(adjustable)
{%- elsif product.title contains 'Black Croco Gabi Bag' -%}
<span class="fabric">Product width:</span>31cm<br>
<span class="fabric">Product height:</span>14cm<br>
<span class="fabric">Strap length:</span>50-95cm(adjustable)
{%- elsif product.title contains 'Fee V-Waistbag' -%}
<span class="fabric">Product width:</span>17,5cm<br>
<span class="fabric">Product height:</span>26cm
{%- elsif product.title contains 'Forset Waistbag' -%}
<span class="fabric">Product width:</span>30,5cm<br>
<span class="fabric">Product height:</span>13,5cm
{%- elsif product.title contains 'Fidi Waistbag' -%}
<span class="fabric">Product width:</span>17cm<br>
<span class="fabric">Product height:</span>20,5cm
{%- elsif product.title contains 'Finem Waistbag' -%}
<span class="fabric">Product width:</span>17cm<br>
<span class="fabric">Product height:</span>20,5cm
{%- elsif product.title contains 'Fouch Waistbag' -%}
<span class="fabric">Product width:</span>12cm<br>
<span class="fabric">Product height:</span>27,5cm
{%- elsif product.title contains 'Waist Pack' -%}
<span class="fabric">Product width:</span>25cm<br>
<span class="fabric">Product height:</span>15,5cm    
{%- elsif product.title contains 'Shoulder Bag' -%}
<span class="fabric">Product width:</span>14cm<br>
<span class="fabric">Product length:</span>17cm<br>
<span class="fabric">Strap length:</span>75-150cm (adjustable)<br>
<span class="fabric">Mesh pocket length:</span>11,5cm
{%- elsif product.title contains 'Bucket Hat' -%}
<span class="fabric">Product diameter:</span>26cm
{%- elsif product.title contains 'Faz Totebag' -%}
<span class="fabric">Product width:</span>40cm<br>
<span class="fabric">Product height:</span>42,8cm
{%- elsif product.title contains 'Utility Backpack' -%}
<span class="fabric">Product width:</span>29cm<br>
<span class="fabric">Product height:</span>42,8cm
{%- elsif product.title contains 'Fos Backpack' -%}
<span class="fabric">Product width:</span>29cm<br>
<span class="fabric">Product height:</span>40cm
{%- elsif product.title contains 'Fabder' -%}
<span class="fabric">Product width:</span>3,8cm<br>
<span class="fabric">Product length:</span>123,5cm
{%- elsif product.title contains 'Farno Belt' -%}
<span class="fabric">Product width:</span>42,4cm<br>
<span class="fabric">Product length:</span>48cm
{%- elsif product.title contains 'Football Scarf' -%}
<span class="fabric">Product width:</span>18cm<br>
<span class="fabric">Product length:</span>178cm
{%- elsif product.title contains 'Daily Paper x Appelsap Tennis Cap' -%}
One size fits all. This means that "one size" caps, beanies, bags and other accessories will generally fit everyone. 
{%- elsif collection.handle contains 'accessories' -%}
One size fits all. This means that "one size" caps, beanies, bags and other accessories will generally fit everyone. 
{%- elsif product.tags contains 'Accessories' -%}
One size fits all. This means that "one size" caps, beanies, bags and other accessories will generally fit everyone. 
{%- elsif product.vendor == "Daily Paper x Starboy" and product.tags contains "Accessories" -%}
One size fits all. This means that "one size" caps, beanies, bags and other accessories will generally fit everyone. 
{%- elsif product.vendor == "Daily Paper X Off-White" -%}
The Female model is 178 cm and is wearing a size Extra Small.<br>
The Male model is 191 cm and is wearing a size Medium.
{%- elsif product.vendor == "Daily Paper X Surf Ghana" -%} 
The Female model is 178 cm and is wearing a size Extra Small.<br>
The Male model is 191 cm and is wearing a size Medium.
{%- else -%}
This model is 185cm / 6'1" and wearing a size Medium. 
{%- endif -%}

